<script setup>
const props = defineProps({
	loading: {
		type: Boolean,
		required: true,
	},
});
const emit = defineEmits([ 'load' ]);

import { ref, computed } from 'vue';
import { useDisplay } from 'vuetify';
import { useConfigStore } from '@/store/config';
import { useGraphStore } from '@/store/graph';
import { versionToString } from '@/lib/getHostedMasterportalVersion';
import Panel from './Panel.vue';

const config = useConfigStore();
const graph = useGraphStore();
const { mobile } = useDisplay();

const latestVersion = computed(() => config.masterportalTags?.[0]?.name ?? null);
const versionTag = ref(null);

if (graph.version) {
	versionTag.value = latestVersion.value;
} else {
	config.onInitialized(() => {
		if (Object.keys(config.hostedMasterportalVersion).length) {
			const hostedMasterportalVersionString = versionToString(config.hostedMasterportalVersion);
			versionTag.value = config.masterportalTags.map(({ name }) => name).find(tag => (tag.startsWith('v') ? tag.substring(1) : tag) === hostedMasterportalVersionString);
		}
		if (!versionTag.value) {
			versionTag.value = latestVersion.value;
		}
	});
}

function onCreate () {
	emit('load', {
		version: versionTag.value,
		config: null,
	});
}

const masterportalTagOptions = computed(() => config.masterportalTags?.map(({ name: tag }) => ({
	title: tag,
	value: tag,
})));
</script>

<template lang="pug">
Panel(
	code="masterportalDefault"
	icon="save"
	:active="versionTag && !loading"
	:loading="loading"
	@start="onCreate"
	:action="mobile ? 'actionsmall' : 'action'"
)
	v-card-text {{ $t('chapters.loading.masterportalDefault.paragraph') }}
	v-card-actions
		v-select(
			:loading="!versionTag"
			label="Masterportal-Version"
			v-model="versionTag"
			:items="masterportalTagOptions"
			append-outer-icon="cloud_download"
		)
</template>
