<script setup>
const props = defineProps({
	loading: {
		type: Boolean,
		required: true,
	},
});
const emit = defineEmits([ 'load' ]);

import { computed } from 'vue';
import { useConfigStore } from '@/store/config';
import { looksLikeConfigJson } from '@/lib/validators';
import Panel from './Panel.vue';

const config = useConfigStore();

const templateVersionIsSupported = computed(() => config.masterportalTags.some(({ name }) => name === config.masterportalConfigJsonTemplate.version));
const isConfigTemplateValid = computed(() => looksLikeConfigJson(config.masterportalConfigJsonTemplate));

function onUseTemplate () {
	emit('load', {
		version: config.masterportalConfigJsonTemplate.version,
		config: config.masterportalConfigJsonTemplate,
	});
}
</script>

<template lang="pug">
Panel(
	v-if="config.masterportalConfigJsonTemplate"
	code="fromTemplate"
	:active="templateVersionIsSupported"
	@start="onUseTemplate"
)
	v-card-text {{ $t('chapters.loading.fromTemplate.description') }}
	p.template-error(v-if="!isConfigTemplateValid") {{ $t('chapters.loading.fromTemplate.invalid') }}
	p(v-else-if="templateVersionIsSupported") {{ $t('chapters.loading.fromTemplate.printVersion', { version: config.masterportalConfigJsonTemplate.version }) }}
	p.template-error(v-else) {{ $t('chapters.loading.fromTemplate.unsupportedVersion') }}
</template>

<style lang="scss" scoped>
.template-error {
	color: red;
}
</style>
