<script setup>
const props = defineProps({
	code: {
		type: String,
		required: true,
	},
	visible: {
		type: Boolean,
		default: true,
	},
	active: {
		type: Boolean,
		default: true,
	},
	loading: {
		type: Boolean,
		default: false,
	},
	icon: {
		type: String,
		default: 'edit',
	},
	action: {
		type: String,
		default: 'actionEdit',
	},
});
const emit = defineEmits([
	'start',
]);

import { computed } from 'vue';

const prefix = computed(() => `chapters.loading.${props.code}.`);
</script>

<template lang="pug">
v-expansion-panel
	v-expansion-panel-title {{ $t(`${prefix}title`) }}
	v-expansion-panel-text
		slot
		v-card-actions(v-if="props.visible")
			v-btn(
				:disabled="!props.active"
				:loading="props.loading"
				@click="emit('start')"
				:prepend-icon="props.icon"
			) {{ $t(`${prefix}${props.action}`) }}
</template>
