<script setup>
const props = defineProps({
	loading: {
		type: Boolean,
		required: true,
	},
});
const emit = defineEmits([ 'load' ]);

import { ref, computed, watch } from 'vue';
import { useAlertStore } from '@/store/alert';
import { useConfigStore } from '@/store/config';
import { looksLikeConfigJson, isValidUrl } from '@/lib/validators';
import { devModeFlag } from '@/lib/devModeFlag';
import deepCopy from '@/lib/deepCopy';
import axios from 'axios';
import Panel from './Panel.vue';

const alert = useAlertStore();
const config = useConfigStore();
const UploadState = Object.freeze({
	IDENTIFIED: Symbol.for('identified'), // versioned, fine after quick-check (user may choose another version)
	UNSUPPORTED: Symbol.for('unsupported'), // versioned, but version not supported, fine after quick-check (user has to choose version)
	UNVERSIONED: Symbol.for('unversioned'), // unversioned, fine after quick-check (user has to choose version)
	INVALID: Symbol.for('invalid'), // doesn't quite look like a configuration file
	BROKEN: Symbol.for('broken'), // can't even be parsed
	NOTHING: Symbol.for('nothing'), // no upload yet
});

const url = ref('');
const filename = ref('');
const configJson = ref({});
const versionTag = ref(null);

const parsedVersionTag = computed(() => configJson.value?.version);
const state = computed(() => {
	if (configJson.value === null) return UploadState.NOTHING;
	if (configJson.value === 0) return UploadState.BROKEN;
	if (!looksLikeConfigJson(configJson.value)) return UploadState.INVALID;
	if (!parsedVersionTag.value) return UploadState.UNVERSIONED;
	if (!config.masterportalTags.find(({ name }) => name === parsedVersionTag.value)) return UploadState.UNSUPPORTED;
	return UploadState.IDENTIFIED;
});
function setVersionTag () {
	versionTag.value = state.value === UploadState.IDENTIFIED ? parsedVersionTag.value : null;
}

async function onFileUpload (file) {
	if (!file) return;
	filename.value = file.name;
	const fr = new FileReader();
	const loadPromise = new Promise(resolve => {
		fr.onload = resolve;
	});
	fr.readAsText(file);
	const { target: { result } } = await loadPromise;
	try {
		configJson.value = JSON.parse(result);
		setVersionTag();
	} catch (err) {
		if (devModeFlag) console.error(err);
		configJson.value = 0;
	}
}

async function onUseUrl () {
	if (!isValidUrl(url.value)) return;
	try {
		const { data } = await axios.get(url.value);
		if (!data) return;
		configJson.value = data;
		setVersionTag();
		if (state.value === UploadState.INVALID) {
			alert.error({ content: 'chapters.loading.fromUrl.configInvalid' });
		}
	} catch (err) {
		if (devModeFlag) console.error(err);
		configJson.value = 0;
		alert.error({ content: 'chapters.loading.fromUrl.loadingError', timeout: 10000 });
	}
}

function onStart () {
	const loadConfigJson = deepCopy(configJson.value);
	loadConfigJson.version = versionTag.value; // inject/override version for next time user uploads the file
	emit('load', {
		version: versionTag.value,
		config: loadConfigJson,
	});
}

const radioGroup = ref('upload');
const uploadMessageKey = computed(() => {
	switch (state.value) {
		case UploadState.IDENTIFIED: return `chapters.loading.fromComputer.upload.identified${versionTag.value === parsedVersionTag.value ? '' : 'Migrate'}`;
		case UploadState.UNSUPPORTED: return `chapters.loading.fromComputer.upload.unsupported${versionTag.value ? 'Migrate' : ''}`;
		case UploadState.UNVERSIONED: return `chapters.loading.fromComputer.upload.unversioned`;
		default:
			switch (radioGroup.value) {
				case 'upload': return `chapters.loading.fromComputer.upload.${versionTag.value?.description || 'nothing'}`;
				case 'fromURL': return 'chapters.loading.fromUrl.addUrl';
				default: return '';
			}
	}
});
watch(radioGroup, () => {
	configJson.value = null;
});

const uploadAllowed = computed(() => !props.loading && (state.value === UploadState.IDENTIFIED || ([ UploadState.UNSUPPORTED, UploadState.UNVERSIONED ].includes(state.value) && versionTag.value)));
const versionOverride = computed(() => [ UploadState.UNVERSIONED, UploadState.UNSUPPORTED, UploadState.IDENTIFIED ].includes(state.value));
const masterportalTagOptions = computed(() => config.masterportalTags?.map(({ name: tag }) => ({
	title: tag,
	value: tag,
})));
</script>

<template lang="pug">
Panel(
	code="fromComputer"
	:active="uploadAllowed"
	:loading="loading"
	@start="onStart"
)
	v-card-actions
		v-radio-group(v-model="radioGroup" row)
			v-radio(value="upload" :label="$t('chapters.loading.fromComputer.radio')" )
			v-radio(value="fromURL" :label="$t('chapters.loading.fromUrl.radio')")
	v-card-actions
		v-file-input(
			v-if="radioGroup === 'upload'"
			prepend-icon="cloud_upload"
			accept=".json,application/json"
			@update:modelValue="onFileUpload"
			:placeholder="filename || $t('chapters.loading.fromComputer.actionUpload')"
			:persistent-placeholder="true"
		)
		v-text-field(
			v-if="radioGroup === 'fromURL'"
			v-model="url"
			:label="$t('chapters.loading.fromUrl.urlFieldLabel')"
			:placeholder="$t('chapters.loading.fromUrl.urlPlaceholder')"
			:persistent-placeholder="true"
			:rules="[ v => isValidUrl(v) || $t('chapters.loading.fromUrl.urlInvalid') ]",
			@update:modelValue="onUseUrl"
			dense
		)
	v-card-text {{ $t(uploadMessageKey, { version: versionTag, fileVersion: parsedVersionTag }) }}
	v-select(
		v-if="versionOverride"
		v-model="versionTag"
		:items="masterportalTagOptions"
		:placeholder="$t(`chapters.loading.fromComputer.versionPlaceholder${state === 'IDENTIFIED' ? 'Automatic' : 'Manual'}`)"
		:persistent-placeholder="true"
	)
</template>
