<script setup>
const props = defineProps({
	// Specifies the id of the map container to handle uniqueness
	targetName: {
		type: String,
		required: true,
	},
	// Type (will be passed to MapInput)
	type: {
		type: String,
		required: true,
	},
	// EPSG code
	epsgCode: {
		type: String,
		required: true,
	},
	// Specifies what default data will be handled
	modelValue: {
		type: Array,
		required: true,
	},
});
const emit = defineEmits([ 'update:modelValue' ]);

import { ref, watch, onUpdated } from 'vue';
import MapInput from '@/lib/MapInput';
import showMap from '@/lib/showMap';

const mapInput = ref(null);
watch(props.modelValue, coordinates => {
	mapInput.value?.update(coordinates);
});
showMap(false, false, props.epsgCode, props.targetName).then(map => {
	mapInput.value = new MapInput(map, props.type, props.modelValue, () => {
		emit('update:modelValue', mapInput.value?.getCoordinates());
	});
});
onUpdated(() => {
	// This lifecycle-hook might be called before the instance of `MapInput` has
	// been created. Therefore it's important to first check if the object is present.
	mapInput.value?.reRender();
});

const expanded = ref(false);
function toggleExpand () {
	expanded.value = !expanded.value;
}
</script>

<template lang="pug">
div(ref="mapWindow" :class="{ mapWindow: true, mapWindowExpanded: expanded }")
	v-col
		v-row
			div
				div.min-size
					v-btn.expandBtn(
						@click="toggleExpand"
						flat
						:icon="!expanded ? 'fullscreen' : 'fullscreen_exit'"
					)
			v-divider(vertical).divider-size
			div.wrapper
				div(
					:id="targetName"
					data-testid="map"
					ref="map"
					:class="{ map: true, mapExpanded: expanded }"
				)
</template>

<style lang="scss" scoped>
@import '../../../globals.scss';

$minMapHeight: 100px;
$maxMapHeight: 600px;
$tranDur: 150ms;

.mapWindow {
	overflow: hidden;
	height: $minMapHeight;
	width: 100%;
	transition-duration: $tranDur;
}

.mapWindowExpanded {
	height: $maxMapHeight;
}

.wrapper {
	display: flex;
	flex: 1;
}
.min-size {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.divider-size {
	width: 10px;
}

.map {
	position: relative;
	width: 100%;
	height: $minMapHeight;
	background-repeat: repeat;
	top: 0;
}

.mapExpanded {
	height: $maxMapHeight;
}
</style>
