<script setup>
const props = defineProps({
	description: {
		type: String,
		required: true,
	},
	icon: {
		type: String,
		default: 'info',
	},
});

import { toRefs } from 'vue';

const { description } = toRefs(props);
</script>

<template lang="pug">
v-tooltip(left color="primary")
	template(v-slot:activator="{ props }")
		v-icon(
			v-bind="props"
			:icon="icon"
		)
	v-container
		div.text-caption(v-html="description")
</template>
