<script setup>
const props = defineProps({
	class: {
		type: String,
		default: '',
	},
});
</script>

<template lang="pug">
//- To ensure non-empty templates (Vue does not like them)
span(style="display: none")
slot
</template>
