<script setup>
import { ref } from 'vue';
import { useAlertStore } from '@/store/alert';
import { useConfigStore } from '@/store/config';
import { getTimestamp } from '@/lib/time';
import { asciify } from '@/lib/ascii';
import { formatJSON } from '@/lib/formatJSON';
import { loadJs } from '@/lib/loadJs';
import { adminBackendBundleURL, exportConfigJSON } from '@/lib/export';
import axios from 'axios';
import JSZip from 'jszip';
import { saveAs } from 'file-saver';
import Panel from './Panel.vue';

const alert = useAlertStore();
const config = useConfigStore();

async function buildPortal () {
	const { data: bundle } = await axios.get(adminBackendBundleURL.value, { responseType: 'blob' });
	const zip = await JSZip.loadAsync(bundle);

	const portalZip = zip.folder('Basic');
	portalZip.file('config.json', formatJSON(exportConfigJSON.value));

	const configJs = await loadJs(await portalZip.file('config.js').async('string'), 'Config');
	configJs.layerConf = config.layerConfUrl;
	configJs.restConf = config.restConfUrl;
	configJs.styleConf = config.styleConfUrl;
	portalZip.file('config.js', `const Config = ${formatJSON(configJs)};`);

	return await zip.generateAsync({ type: 'blob' });
}

function buildFileName (prefix, title, suffix) {
	return `${[
		prefix,
		...(title ? [ asciify(title) ] : []),
		getTimestamp(),
	].join('-')}.${suffix}`;
}

const waitForFullDownload = ref(false);
async function onDownloadFull () {
	waitForFullDownload.value = true;
	try {
		const zipFile = await buildPortal();
		const fileName = buildFileName('masterportal', exportConfigJSON?.Portalconfig?.portalTitle?.title, 'zip');
		saveAs(zipFile, fileName);
	} catch (err) {
		console.error('Full download failed:', err);
		alert.error({ content: 'chapters.export.errors.buildError' });
	} finally {
		waitForFullDownload.value = false;
	}
}
</script>

<template lang="pug">
Panel(
	code="downloadPortal"
	:active="!waitForFullDownload"
	:loading="waitForFullDownload"
	@start="onDownloadFull"
)
</template>
