<script setup>
import { formattedConfigJSON } from '@/lib/export';
import { saveAs } from 'file-saver';
import Panel from './Panel.vue';

function onDownloadJSON () {
	const data = new Blob([ formattedConfigJSON.value ], { type: 'application/json' });
	saveAs(data, 'config.json');
}
</script>

<template lang="pug">
Panel(
	code="downloadConfig"
	@start="onDownloadJSON"
)
</template>
