<script setup>
import { computed } from 'vue';
import { useConfigStore } from '@/store/config';
import { useGraphStore } from '@/store/graph';
import { versionToString, getMasterportalVersion } from '@/lib/getHostedMasterportalVersion';

const config = useConfigStore();
const graph = useGraphStore();

const targetVersion = computed(() => getMasterportalVersion(graph.version));
const isVersionCompatible = computed(() => {
	if (config.hostedMasterportalVersion && targetVersion.value) {
		// Assume versions to contain no breaking changes if major and minor version
		// are equal. Ignore patch updates (according to SemVer).
		return [ 'major', 'minor' ].every(key => targetVersion.value[key] === config.hostedMasterportalVersion[key]);
	}
	return false;
});
</script>

<template lang="pug">
p.warningIncompatibleVersion(v-if="!isVersionCompatible")
	| {{ $t('chapters.export.incompatibleVersion', { hostedMasterportalVersion: versionToString(config.hostedMasterportalVersion), targetVersion: graph.version }) }}
</template>

<style lang="scss" scoped>
.warningIncompatibleVersion {
	color: red;
}
</style>
