<script setup>
import { ref, computed } from 'vue';
import { uploadConfig, getMasterportalPreviewURL, disablePreview } from '@/lib/export';
import Panel from './Panel.vue';
import HostedVersionCheck from './HostedVersionCheck.vue';

const configURL = ref(null);
async function onPreview () {
	configURL.value = await uploadConfig();
}

const previewURL = computed(() => configURL.value ? getMasterportalPreviewURL(configURL.value) : null);
</script>

<template lang="pug">
Panel(
	code="preview"
	:visible="!previewURL"
	:disabled="disablePreview"
	icon="visibility"
	@start="onPreview"
)
	template(v-if="previewURL")
		p {{ $t('chapters.export.preview.previewUrl') }}
		br
		p
			a(:href="previewURL" target="_blank") {{ previewURL }}
		HostedVersionCheck
</template>
