<script setup>
import { ref, computed, watch } from 'vue';
import { useTranslation } from 'i18next-vue';
import { uploadConfig, getMasterportalPermanentURL, adminBackendConfigURL, disablePreview } from '@/lib/export';
import Panel from './Panel.vue';
import HostedVersionCheck from './HostedVersionCheck.vue';

const { i18next } = useTranslation();

const publishForm = ref(null);
const isFormValid = ref(null);
const configName = ref(null);
const configURL = ref(null);
const overwrite = ref(null);

watch(configName, () => {
	overwrite.value = null;
});

async function onPublish () {
	if (!publishForm.value.validate()) {
		throw new Error('Invalid name');
	}
	try {
		configURL.value = await uploadConfig(configName.value, overwrite.value);
	} catch (err) {
		if (err.response.data === 'errors.nameDuplicate') {
			overwrite.value = false;
		}
	}
}

const permanentURL = computed(() => configURL.value ? getMasterportalPermanentURL(configURL.value, configName.value) : null);

const configPathRules = [
	input => Boolean(input) || i18next.t('chapters.export.errors.missingName'),
	input => (input && !input.match(/[^a-z0-9_-]/i)) || i18next.t('chapters.export.errors.invalidName'),
];
</script>

<template lang="pug">
Panel(
	code="publish"
	:visible="!configURL"
	:active="isFormValid"
	:disabled="disablePreview"
	icon="cloud_upload"
	@start="onPublish"
)
	v-card-text(v-if="configURL")
		p
			| {{ $t('chapters.export.publish.configUrl.partOne') }}
			span {{ configURL }}
			| {{ $t('chapters.export.publish.configUrl.partTwo') }}
		p
			a(:href="permanentURL" target="_blank") {{ permanentURL }}
		HostedVersionCheck
	v-form(v-else ref="publishForm" v-model="isFormValid")
		v-text-field(
			:prefix="adminBackendConfigURL"
			suffix=".json"
			v-model="configName"
			:placeholder="$t('chapters.export.publish.placeholder')"
			:persistent-placeholder="true"
			:rules="configPathRules"
			required
		)
		v-checkbox(
			v-if="typeof overwrite === 'boolean'"
			v-model="overwrite"
			:label="$t('chapters.export.publish.overwrite')"
		)
</template>
