<script setup>
import { ref, computed } from 'vue';
import { uploadConfig, getMasterportalPreviewURL, disablePreview } from '@/lib/export';

async function quickPreview () {
	const url = await uploadConfig();
	window.open(getMasterportalPreviewURL(url), '_blank');
}
</script>

<template lang="pug">
v-btn.ms-4(
	v-if="!disablePreview"
	prepend-icon="visibility"
	@click="quickPreview"
) {{ $t('chapters.export.quickPreview.title') }}
</template>
