<script setup>
import { ref, computed } from 'vue';
import { formattedConfigJSON } from '@/lib/export';
import Panel from './Panel.vue';
</script>

<template lang="pug">
Panel(
	code="text"
	:visible="false"
)
	pre {{ formattedConfigJSON }}
</template>
