<template lang="pug">
div
	p {{ $t('errors.notFound.text') }}
	p
		v-btn.backToMain(:to="{ name: 'Introduction' }") {{ $t('errors.notFound.action') }}
</template>

<style lang="scss" scoped>
@import '../globals.scss';
</style>
