<script setup>
const props = defineProps({
	path: {
		type: String,
		required: true,
	},
});

import { inject, computed, watch, toRefs } from 'vue';
import { useGraphStore } from '@/store/graph';
import GeneratedForm from '@/components/GeneratedForm/index.vue';
import QuickPreview from '@/components/Export/QuickPreview.vue';

const title = inject('title');
const graph = useGraphStore();
const { path } = toRefs(props);
const node = computed(() => graph.graph?.nodes?.[path.value]);

watch(node, newNode => {
	title.value = newNode?.label;
}, { deep: true, immediate: true });
</script>

<template lang="pug">
QuickPreview
//- all entry points to config editor are reachable by chapter key
	if no configPath given by recursive call, assume an entry point form is to be rendered
GeneratedForm(
	v-if="node"
	:node="node"
	:configPath="node?.chapterKey?.split('.')"
)
</template>
