<script setup>
import { ref, computed, watch } from 'vue';
import { useThemenconfigStore } from '@/store/themenconfig';
import { useLayersStore } from '@/store/layers';
import { supportedTypes, getGfiSchema } from '@/lib/gfi';
import QuickPreview from '@/components/Export/QuickPreview.vue';
import DropdownElement from '@/components/GeneratedForm/dropdown/DropdownElement.vue';

const store = useThemenconfigStore();
const layersStore = useLayersStore();

const layers = ref([]);
watch(store.selectedLayers, async value => {
	layers.value = await layersStore.getLayerDetails(value.map(({ id }) => id));
}, { immediate: true });

const selectedLayer = ref(null);
const selectedLayers = computed(() => store.selectedLayers.filter(({ id }) => supportedTypes.includes(layers.value.find(layer => layer.id === id)?.typ)));
const layerSelector = computed(() => selectedLayers.value?.map(({ id, name }) => ({ value: id, title: name ?? '' })) ?? []);

const layer = computed(() => layers.value.find(({ id }) => id === selectedLayer.value));
const configLayer = computed(() => selectedLayers.value.find(({ id }) => id === selectedLayer.value));
const presetAttributes = computed(() => layer.value?.gfiAttributes);
const selectedAttributes = ref(null);

const displayType = computed({
	get: () => {
		switch (configLayer.value.gfiAttributes) {
			case 'showAll':
				return 'showAll';
			/* eslint-disable-next-line no-undefined */
			case undefined:
				return 'native';
			default:
				return 'custom';
		}
	},
	set: value => {
		switch (value) {
			case 'native':
				delete configLayer.value.gfiAttributes;
				break;
			case 'showAll':
				configLayer.value.gfiAttributes = 'showAll';
				break;
			case 'custom':
			default:
				configLayer.value.gfiAttributes = presetAttributes.value;
				break;
		}
	},
});

watch(selectedLayer, async () => {
	selectedAttributes.value = null;
	if (layer.value) {
		try {
			selectedAttributes.value = await getGfiSchema(layer.value);
		} catch { /**/ }
	}
});

watch(() => configLayer.value?.gfiAttributes, attrs => {
	if (attrs && typeof attrs === 'object') {
		Object.entries(attrs)?.forEach(([ key, value ]) => {
			if (!value) {
				delete attrs[key];
			}
		});
	}
}, { deep: true });
</script>

<template lang="pug">
QuickPreview
v-card-text
	p {{ $t('chapters.themenconfig.gfiLayer.paragraph') }}
div
	span {{ $t('chapters.themenconfig.gfiLayer.selected') }} ({{ selectedLayers.length }})
	v-select(
		v-model="selectedLayer"
		:items="layerSelector"
		clearable
	)
div(
	v-if="selectedAttributes"
)
	v-radio-group(v-model="displayType")
		v-radio(value="native" :label="$t('chapters.themenconfig.gfiLayer.native')")
		v-radio(value="showAll" :label="$t('chapters.themenconfig.gfiLayer.showAll')")
		v-radio(value="custom" :label="$t('chapters.themenconfig.gfiLayer.custom')")
	template(v-if="displayType === 'custom'")
		v-divider
		v-card-text
			p {{ $t('chapters.themenconfig.gfiLayer.customParagraph') }}
		v-table
			thead
				tr
					th {{ $t('chapters.themenconfig.gfiLayer.attribute') }}
					th {{ $t('chapters.themenconfig.gfiLayer.name') }}
			tbody
				tr(
					v-for="attribute of selectedAttributes"
					:class="{ inactive: !configLayer.gfiAttributes[attribute] }"
				)
					td {{ attribute }}
					td
						v-text-field(
							:prepend-icon="configLayer.gfiAttributes[attribute] ? 'visibility' : 'visibility_off'"
							v-model="configLayer.gfiAttributes[attribute]"
							clearable
						)
</template>

<style lang="scss" scoped>
tr.inactive > * {
	background-color: #f2f2f2;
}
</style>
