<script setup>
import { ref, reactive, computed, watch } from 'vue';
import { useLayersStore } from '@/store/layers';
import { useThemenconfigStore } from '@/store/themenconfig';
import QuickPreview from '@/components/Export/QuickPreview.vue';
import FlatLayerSelection from '@/components/Themenconfig/FlatLayerSelection.vue';

const store = useLayersStore();
const themenconfig = useThemenconfigStore();

const groupLayers = reactive([]);
const groupLayer = ref(null);
const groupLayerModel = computed(() => groupLayers.find(({ id }) => id === groupLayer.value));

watch(groupLayerModel, async newModel => {
	if (newModel) {
		await store.putGroupLayer(newModel);
	}
}, { deep: true });
store.getGroupLayers().then(layers => {
	groupLayers.push(...layers);
});

function addGroupLayer () {
	const id = crypto.randomUUID();
	groupLayers.push({
		id,
		name: id,
		children: [],
	});
	groupLayer.value = id;
}
function dropGroupLayer () {
	const currentId = groupLayer.value;
	groupLayer.value = null;
	themenconfig.deleteById({ id: currentId });
	store.dropGroupLayer(currentId);
	const idx = groupLayers.findIndex(({ id }) => id === currentId);
	groupLayers.splice(idx, 1);
}
</script>

<template lang="pug">
QuickPreview
v-card-text
	p {{ $t('chapters.themenconfig.groupLayer.paragraph') }}
v-form
	v-select(
		clearable
		:label="$t('chapters.themenconfig.groupLayer.choose')"
		v-model="groupLayer"
		:items="groupLayers"
		item-value="id"
		item-title="name"
	)
template(v-if="groupLayer")
	v-divider(class="mb-6")
	v-form(@submit.prevent="")
		v-text-field(:label="$t('chapters.themenconfig.groupLayer.name')" v-model="groupLayerModel.name")
	FlatLayerSelection(
		v-model="groupLayerModel.children"
		filter="no-group"
		:sortable="true"
	)
	v-btn(@click="dropGroupLayer") {{ $t('chapters.themenconfig.groupLayer.deleteAction') }}
v-divider(class="mt-2 mb-6")
v-btn(@click="addGroupLayer") {{ $t('chapters.themenconfig.groupLayer.createAction') }}
</template>
