<script setup>
import { ref } from 'vue';

const confirmDialog = ref(false);
function removeDatabase (key) {
	const req = window.indexedDB.deleteDatabase(key);
	return new Promise((resolve, reject) => {
		req.onsuccess = resolve;
		req.onerror = reject;
	});
}

async function onConfirmedDelete () {
	confirmDialog.value = false;
	localStorage.clear();
	try {
		await Promise.all([
			removeDatabase('__dbnames'),
			removeDatabase('MPADMIN-config'),
			removeDatabase('MPADMIN-layers'),
		]);
	} catch { /**/ }
	location.reload();
}
</script>

<template lang="pug">
template
	v-dialog(
		v-model="confirmDialog"
		min-width="500"
		max-width="80vw"
	)
		v-card
			v-card-title.text-h5 {{ $t('chapters.loading.hintTitle') }}
			v-card-text #[b {{ $t('chapters.introduction.cleanWaring') }}]
			v-card-actions
				v-spacer
				v-btn(
					color="red"
					@click="confirmDialog = false"
				) {{ $t('chapters.loading.dialogAbort') }}
				v-btn(
					color="primary"
					@click="onConfirmedDelete"
				) {{ $t('chapters.introduction.dialogConfirm') }}
v-card-text {{ $t('chapters.introduction.paragraphs.one') }}
v-card-text {{ $t('chapters.introduction.paragraphs.two') }}
v-card-text {{ $t('chapters.introduction.paragraphs.three') }}
v-card-text #[b {{ $t('chapters.introduction.warning') }} #[a(href="mailto:geodatenanwendungen@gv.hamburg.de" target="_blank") geodatenanwendungen@gv.hamburg.de]!]
v-card-text
	a(href="https://www.masterportal.org/" target="_blank") {{ $t('chapters.introduction.furtherReading') }}
v-card-title.text-h6 {{ $t('chapters.introduction.cleanHint') }}
v-card-text
	v-btn(
		prepend-icon="delete"
		color="red"
		@click="confirmDialog = true"
	) {{ $t('chapters.introduction.clean') }}
</template>
