<script setup>
import { reactive, computed } from 'vue';
import { useLayersStore } from '@/store/layers';
import { useLoadingStore } from '@/store/loading';
import { useThemenconfigStore } from '@/store/themenconfig';
import { useAlertStore } from '@/store/alert';
import xml2json from '@/lib/xml2json';
import axios from 'axios';
import QuickPreview from '@/components/Export/QuickPreview.vue';

const columns = [
	{ key: 'url', writable: true },
	{ key: 'version' },
];
const featureColumns = [
	{ key: 'layers' },
	{ key: 'name', writable: true },
	{ key: 'layerAttribution' },
	{ key: 'minScale' },
	{ key: 'maxScale' },
	{ key: 'legendURL', writable: true },
];

const layersStore = useLayersStore();
const loading = useLoadingStore();
const themenconfig = useThemenconfigStore();
const alert = useAlertStore();
const expandedLayers = reactive([]);
const layers = computed(() => layersStore.overrideLayers);

function addLayer () {
	const id = crypto.randomUUID();
	layers.value.push({
		id,
		typ: 'WMS',
		layerAttribution: '',
	});
	expandedLayers.push(id);
}
function deleteLayer (item) {
	themenconfig.deleteById(item);
	const idx = layers.value.findIndex(it => it === item);
	layers.value.splice(idx, 1);
}

function isLayerExpanded ({ id }) {
	return expandedLayers.includes(id);
}
function toggleExpandLayer ({ id }) {
	const idx = expandedLayers.findIndex(it => it === id);
	if (idx >= 0) {
		expandedLayers.splice(idx, 1);
	} else {
		expandedLayers.push(id);
	}
}

function updateCapabilities (item, newFeature) {
	item.mpadminFeature = newFeature;
	const { wms: wmsInformation } = item.mpadminFeatures.find(it => item.mpadminFeature === it.value);
	Object.assign(item, wmsInformation);
}
async function fetchCapabilities (item) {
	loading.register();
	try {
		const {
			WMS_Capabilities: {
				attributes: { version },
				Capability: { Layer, Request },
			},
		} = await axios.get(`${item.url}?service=wms&request=GetCapabilities`)
			.then(({ request: { responseXML } }) => xml2json(responseXML));
		item.version = version;
		item.mpadminFeatures = [ Layer.Layer ].flat().map(layer => ({
			value: layer.Name.getValue(),
			title: layer.Title.getValue(),
			wms: {
				name: layer.Title.getValue(),
				layers: layer.Name.getValue(),
				legendURL: Request.getLegendUrl?.getValue() || '',
				minScale: layer.MinScaleDenominator?.getValue() || '0',
				maxScale: layer.MaxScaleDenominator?.getValue() || '2500000',
				layerAttribution: layer.Attribution?.getValue() || 'nicht vorhanden',
			},
			unmanaged: layer,
		}));
		if (!isLayerExpanded(item)) {
			toggleExpandLayer(item);
		}
	} catch (e) {
		alert.error({ content: 'errors.fetchingError' });
	} finally {
		loading.unregister();
	}
}
</script>

<template lang="pug">
QuickPreview
v-card-text
	p {{ $t('chapters.themenconfig.overrideLayer.paragraph') }}
v-card(v-for="layer of layers" :key="layer.id" class="mb-6")
	v-card-title {{ layer.name ? `${layer.name} (${$t('chapters.themenconfig.overrideLayer.wms.title')})` : $t('chapters.themenconfig.overrideLayer.wms.title') }}
	v-card-actions
		v-btn(text @click="toggleExpandLayer(layer)") {{ $t('chapters.themenconfig.overrideLayer.configAction') }}
		v-btn(text @click="deleteLayer(layer)") {{ $t('chapters.themenconfig.overrideLayer.deleteAction') }}
		v-spacer
		v-btn(flat icon="refresh" :disabled="loading.loading" @click="fetchCapabilities(layer)")
		v-btn(flat :icon="isLayerExpanded(layer) ? 'chevron_left' : 'chevron_right'" @click="toggleExpandLayer(layer)")
	v-expand-transition
		div(v-show="isLayerExpanded(layer)" class="ma-4")
			v-divider
			v-card-text
				v-form
					template(v-for="column of columns")
						v-text-field(
							v-model="layer[column.key]"
							:disabled="!column.writable"
							:label="$t(`chapters.themenconfig.overrideLayer.wms.${column.key}`)"
						)
					v-divider(class="mt-3 mb-8")
					v-select(
						@update:modelValue="updateCapabilities(layer, $event)"
						v-model="layer.mpadminFeature"
						:items="layer.mpadminFeatures"
						:label="$t('chapters.themenconfig.overrideLayer.wms.mpadminFeatures')"
					)
					v-divider(class="mt-3 mb-8")
					template(v-for="column of featureColumns")
						v-text-field(
							v-model="layer[column.key]"
							:disabled="!column.writable"
							:label="$t(`chapters.themenconfig.overrideLayer.wms.${column.key}`)"
						)
v-card-actions
	v-btn(@click="addLayer") {{ $t('chapters.themenconfig.overrideLayer.createAction') }}
</template>
