<script setup>
const props = defineProps({
	path: {
		type: String,
		required: true,
	},
});

import { ref, inject, computed, watch } from 'vue';
import { useConfigStore } from '@/store/config';
import { typeConfigMap } from '@/lib/loadJSON';
import LoadJSONFileFromURL from '@/components/LoadJSONFile/FromURL.vue';
import LoadJSONFileUpload from '@/components/LoadJSONFile/Upload.vue';

const config = useConfigStore();
const typeConfig = computed(() => typeConfigMap[props.path]);
const loadedUrl = computed(() => typeConfig.value.url.value.startsWith('data:') ? '< Lokale Datei hochgeladen >' : typeConfig.value.url.value);
const loadedContent = computed(() => typeConfig.value.content.value);
const description = computed(() => typeConfig.value.description.value);

const title = inject('title');
watch(() => props.path, path => {
	title.value = `chapters.loading.jsons.${path}.title`;
}, { immediate: true });

const dialog = ref(false);
const expansionModel = ref(0);
</script>

<template lang="pug">
div
	v-card-text
		| {{ $t(`chapters.loading.jsons.${props.path}.paragraph`) }}
	v-card-text.less-padding
		v-text-field(
			readonly
			filled
			v-if="loadedUrl"
			v-model="loadedUrl"
			:label="$t('chapters.loading.jsons.loadedFile')"
			dense
		)
	v-card-text.less-padding
		v-text-field(
			readonly
			filled
			v-if="loadedUrl"
			v-model="description"
			:label="$t('chapters.loading.jsons.description')"
			dense
		)
			template(v-slot:append)
				v-btn(@click="dialog = true" flat icon="text_snippet" v-if="loadedContent")
	v-dialog(
		v-model="dialog"
		min-width="500"
		max-width="80vw"
	)
		v-card
			v-col
				v-row
					v-col(cols="1")
						pre
							code {{ loadedContent }}
					v-spacer
					v-btn(@click="dialog = false" flat icon="close")
	v-expansion-panels(
		v-model="expansionModel"
		accordion
	)
		LoadJSONFileFromURL(v-if="!config.isExcludedFeature('loadjsonconfigfromurl')" :type="path")
		LoadJSONFileUpload(v-if="!config.isExcludedFeature('loadjsonconfigfromfile')" :type="path")
</template>

<style lang="scss" scoped>
.less-padding {
	padding-top: 2px;
	padding-bottom: 0;
}

.disabled .v-text-field__slot input {
	color: red !important;
}
</style>
