<script setup>
import { ref, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useAlertStore } from '@/store/alert';
import { useChaptersStore } from '@/store/chapters';
import { useConfigStore } from '@/store/config';
import { useGraphStore } from '@/store/graph';
import { useThemenconfigStore } from '@/store/themenconfig';
import { useLayersStore } from '@/store/layers';
import { useLocalConfig } from '@/lib/devModeFlag';

import LoadConfigUpload from '@/components/LoadConfig/Upload.vue';
import LoadConfigFromTemplate from '@/components/LoadConfig/FromTemplate.vue';
import LoadConfigFromVersion from '@/components/LoadConfig/FromVersion.vue';

const router = useRouter();
const route = useRoute();
const alert = useAlertStore();
const graph = useGraphStore();
const themenconfig = useThemenconfigStore();
const layersStore = useLayersStore();
const chapters = useChaptersStore();
const config = useConfigStore();

const loading = ref(false);
const confirmData = ref(null);
const confirmDialog = ref(false);

async function onConfirmedLoad ({ version, config: conf }) {
	loading.value = true;
	try {
		await graph.fetchFromMasterportalVersion({ version, config: conf });
		await layersStore.clearGroupLayers();
		await Promise.all(themenconfig.selectedLayers.map(async layer => {
			if (Array.isArray(layer.id)) {
				const id = crypto.randomUUID();
				layer.children = layer.id.map(childId => ({ id: childId }));
				themenconfig.updateById({
					id: layer.id,
					name: 'id',
					value: id,
				});
			}
			if (layer.children) {
				await layersStore.putGroupLayer(layer);
			}
		}));
		/* eslint-disable-next-line no-self-assign */
		themenconfig.treeType = themenconfig.treeType; // Trigger flattening if necessary
		const availableLayers = await layersStore.getLayerDetails(themenconfig.selectedLayers.map(({ id }) => id));
		try {
			const nextStep = chapters.getNextStep(route, true);
			router.push(nextStep.route);
			window.scrollTo(0, 0);
			if (availableLayers.length < themenconfig.selectedLayers.length) {
				themenconfig.selectedLayers
					.filter(({ id, url }) => !url && !availableLayers.find(layer => id === layer.id))
					.forEach(layer => themenconfig.deleteById(layer));
				alert.warning({ content: 'chapters.loading.fromComputer.invalidLayers' });
			} else {
				alert.success({ content: 'chapters.loading.fromComputer.successLoad' });
			}
		} catch (e) {
			console.error(e);
			alert.error({ content: 'chapters.loading.fromComputer.errorNavigation' });
		}
	} catch (e) {
		console.error(e);
		alert.error({ content: 'chapters.loading.fromComputer.errorUpload', options: { version } });
	} finally {
		loading.value = false;
	}
}

async function onLoad (data) {
	if (!graph.graph) {
		await onConfirmedLoad(data);
		return;
	}
	confirmData.value = data;
	confirmDialog.value = true;
}
</script>

<template lang="pug">
template(v-if="useLocalConfig")
	v-card-title {{ $t('chapters.loading.localConfig') }}
template(v-else)
	v-card-text {{ $t('chapters.loading.paragraph') }}
	v-dialog(
		v-model="confirmDialog"
		min-width="500"
		max-width="80vw"
	)
		v-card
			v-card-title.text-h5 {{ $t('chapters.loading.hintTitle') }}
			v-card-text {{ $t('chapters.loading.hint') }}
			v-card-actions
				v-spacer
				v-btn(
					color="red"
					@click="confirmDialog = false"
				) {{ $t('chapters.loading.dialogAbort') }}
				v-btn(
					color="primary"
					@click="confirmDialog = false; onConfirmedLoad(confirmData)"
				) {{ $t('chapters.loading.dialogConfirm') }}
	v-expansion-panels(accordion)
		LoadConfigUpload(v-if="!config.isExcludedFeature('loadconfigfromfile')" @load="onLoad" :loading="loading")
		LoadConfigFromTemplate(v-if="!config.isExcludedFeature('loadconfigfromtemplate')" @load="onLoad" :loading="loading")
		LoadConfigFromVersion(v-if="!config.isExcludedFeature('loadconfigfromversion')" @load="onLoad" :loading="loading")
</template>
