<script setup>
import { ref, watch } from 'vue';
import { useConfigStore } from '@/store/config';
import { disablePreview } from '@/lib/export';
import { devModeFlag } from '@/lib/devModeFlag';

import ExportPreview from '@/components/Export/Preview.vue';
import ExportPublish from '@/components/Export/Publish.vue';
import ExportDownloadFull from '@/components/Export/DownloadFull.vue';
import ExportDownloadJSON from '@/components/Export/DownloadJSON.vue';
import ExportText from '@/components/Export/Text.vue';

const config = useConfigStore();
const expansionModel = ref(disablePreview.value ? 2 : 0);

function resetHostedMasterportalURL () {
	config.hostedMasterportalURL = config.admintoolConfig.hostedMasterportalURL;
}

watch(disablePreview, value => {
	if (value && expansionModel.value < 2) {
		expansionModel.value = 2;
	}
});
</script>

<template lang="pug">
v-card-text
	p {{ $t('chapters.export.paragraph') }}
v-form
	v-text-field(
		:label="$t('chapters.export.instanceURL')"
		v-model="config.hostedMasterportalURL"
		clearable
		@click:clear="resetHostedMasterportalURL"
	)
v-expansion-panels(
	v-model="expansionModel"
	accordion
)
	ExportPreview(v-if="!config.isExcludedFeature('exportpreview')")
	ExportPublish(v-if="!config.isExcludedFeature('exportpublish')")
	ExportDownloadFull(v-if="!config.isExcludedFeature('exportdownloadfull')")
	ExportDownloadJSON(v-if="!config.isExcludedFeature('exportdownloadjson')")
	ExportText(v-if="devModeFlag")
</template>
