<script setup>
import { computed } from 'vue';
import { useThemenconfigStore } from '@/store/themenconfig';
import QuickPreview from '@/components/Export/QuickPreview.vue';
import LightTree from '@/components/Themenconfig/Light.vue';
import CustomTree from '@/components/Themenconfig/Custom.vue';

const store = useThemenconfigStore();

const treeTypeMap = {
	light: LightTree,
	custom: CustomTree,
};
const treeTypes = computed(() => Object.keys(treeTypeMap).map(value => ({ value })));
</script>

<template lang="pug">
QuickPreview
v-card-text
	p {{ $t('chapters.themenconfig.paragraphs.one') }}
	p {{ $t('chapters.themenconfig.paragraphs.two') }}
	p
		| {{ $t('chapters.themenconfig.paragraphs.three.partOne') }}
		v-icon map
		| {{ $t('chapters.themenconfig.paragraphs.three.partTwo') }}
		v-icon visibility
		|  /
		v-icon visibility_off
		|  {{ $t('chapters.themenconfig.paragraphs.three.partThree') }}
	p {{ $t('chapters.themenconfig.paragraphs.four') }}
v-select(
	:label="$t('chapters.themenconfig.treeType')"
	:items="treeTypes"
	:item-title="({ value }) => $t(`chapters.themenconfig.treeTypes.${value}`)"
	v-model="store.treeType"
)
template(v-if="store.treeType")
	v-divider
	component(:is="treeTypeMap[store.treeType]")
</template>
