<script setup>
import { ref, reactive, computed } from 'vue';
import { useThemenconfigStore } from '@/store/themenconfig';
import { useConfigStore } from '@/store/config';
import { useLayersStore } from '@/store/layers';
import { usePreviewStore } from '@/store/preview';
import mapStyleGeometry from '@/lib/mapStyleGeometry';
import mapLayerGeometry from '@/lib/mapLayerGeometry';
import QuickPreview from '@/components/Export/QuickPreview.vue';
import DropdownElement from '@/components/GeneratedForm/dropdown/DropdownElement.vue';

const store = useThemenconfigStore();
const config = useConfigStore();
const layersStore = useLayersStore();
const preview = usePreviewStore();

const wfsLayers = reactive([]);
const selectedWFSLayers = computed(() => store.selectedLayers.filter(({ id }) => wfsLayers.find(wfsLayer => id === wfsLayer.id)));

const layerStyleConfig = reactive({});
const experimentalLayers = ref([]);
config.onInitialized(async () => {
	const layers = await layersStore.getLayerDetails(store.selectedLayers.map(({ id }) => Array.isArray(id) ? JSON.stringify(id) : id));
	wfsLayers.push(...layers.filter(({ typ }) => typ === 'WFS'));

	const styleSupportedTypes = {
		'gml:GeometryPropertyType': [],
		'gml:PointPropertyType': [],
		'gml:PolygonPropertyType': [],
		'gml:SurfacePropertyType': [],
		'gml:MultiLineStringPropertyType': [],
	};
	config.styleConf.forEach(style => {
		mapStyleGeometry(style).forEach(type => {
			styleSupportedTypes[type].push(style);
		});
	});
	await Promise.all(wfsLayers.map(async layer => {
		const featureTypes = await mapLayerGeometry(layer);
		if (featureTypes.filter(type => ![ 'gml:SurfacePropertyType' ].includes(type)).length === 0) {
			experimentalLayers.value.push(layer.id);
		}
		layerStyleConfig[layer.id] = featureTypes.flatMap(type => styleSupportedTypes[type]);
	}));
});

function displayMap ({ id: layerId, styleId }) {
	preview.displayMap({ layerId, styleId });
}
</script>

<template lang="pug">
QuickPreview
v-card-text
	p {{ $t('chapters.themenconfig.styleLayer.paragraph') }}
div
	span {{ $t('chapters.themenconfig.styleLayer.selected') }} ({{ selectedWFSLayers.length }})
	v-table
		thead
			tr
				th.text-left {{ $t('chapters.themenconfig.styleLayer.name') }}
				th.text-left {{ $t('chapters.themenconfig.styleLayer.preview') }}
				th.text-left {{ $t('chapters.themenconfig.styleLayer.styleId') }}
		tbody
			tr(v-for="layer of selectedWFSLayers")
				td {{ layer.name }}
				td
					a.triggerPreview(
						:title="$t('chapters.themenconfig.preview')"
						@click="displayMap(layer)"
					)
						v-icon(icon="map")
				td
					template(v-if="experimentalLayers.includes(layer.id)")
						v-alert.my-4(type="warning") {{ $t('chapters.themenconfig.styleLayer.experimentalType') }}
					DropdownElement(
						v-model="layer.styleId"
						:items="layerStyleConfig[layer.id] ?? []"
						itemExtractor="styleId"
						itemLabel="styleId"
						:placeholder="$t('forms.inputCommons.startTyping')"
					)
</template>

<style lang="scss" scoped>
@import '../globals.scss';

.linkDisabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.triggerPreview {
	cursor: pointer;
}
</style>
