<script setup>
const props = defineProps({
	modelValue: {
		type: null,
		required: false,
		default: null,
	},
	items: {
		type: Array,
		required: true,
	},
	itemExtractor: {
		type: null,
		default: item => item,
		required: false,
	},
	itemLabel: {
		type: null,
		default: item => String(item),
		required: false,
	},
	/*
	 * Component design
	 */
	label: {
		type: String,
		required: false,
		default: '',
	},
	placeholder: {
		type: String,
		required: false,
		default: '',
	},
	description: {
		type: String,
		required: false,
		default: '',
	},
});
const emit = defineEmits([
	'update:modelValue',
]);

import { ref, computed } from 'vue';

const model = computed({
	get: () => props.modelValue,
	set: value => {
		emit('update:modelValue', value);
	},
});

const dialog = ref(false);
const dialogData = ref('');
function showDialog (item) {
	dialog.value = true;
	dialogData.value = item;
}
</script>

<template lang="pug">
v-autocomplete(
	solo
	dense
	clearable
	v-model="model"
	:items="items"
	:itemValue="itemExtractor"
	:itemTitle="itemLabel"
	:label="label"
	:placeholder="placeholder"
	:persistent-placeholder="!!placeholder"
)
	template(#item="{ props, item }")
		v-container.item(v-bind="props")
			v-row
				v-col(cols="10")
					span {{ item.raw[itemLabel] || itemLabel(item.raw) }}
				v-spacer
				v-col(cols="2")
					v-btn(@click="showDialog(item.raw)" flat)
						v-icon text_snippet
v-dialog(v-model="dialog" min-width="500" max-width="80vw")
	v-card
		v-container
			v-row
				v-col(cols="1")
					pre
						code {{ dialogData }}
				v-spacer
				v-btn(@click="dialog = !dialog" flat)
					v-icon(icon="close")
div.text-caption(v-html="description")
</template>

<style lang="scss">
.item {
	cursor: pointer;
}
</style>
