<script setup>
const props = defineProps({
	modelValue: {
		type: Boolean,
		required: true,
	},
});
const emit = defineEmits([ 'update:modelValue' ]);

import { computed } from 'vue';

const model = computed({
	get: () => props.modelValue,
	set: value => {
		emit('update:modelValue', value);
	},
});
</script>

<template lang="pug">
v-tooltip(left color="primary")
	template(v-slot:activator="{ props }")
		v-btn(
			v-bind="props"
			flat
			icon="keyboard_arrow_down"
			@click="model = !model"
			:class="model ? 'btn' : 'btn btn2'"
		)
	v-container
		div.text-caption {{ $t('controls.collapse.tooltip') }}
</template>

<style lang="scss" scoped>
.btn {
	transform: rotate(0deg);
	transition-duration: 300ms;
	transition-timing-function: ease-out;
}

.btn2 {
	transform: rotate(-180deg);
}
</style>
