$material-design-icons-font-directory-path: '~/material-design-icons-iconfont/dist/fonts/';
@import '~/material-design-icons-iconfont/src/material-design-icons';

@font-face {
	font-family: 'hamburg-sans';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('@fonts/HamburgSans-Regular.eot'); /* IE9 Compat Modes */
	src: url('@fonts/HamburgSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('@fonts/HamburgSans-Regular.woff2') format('woff2'), /* Modern Browsers */
		url('@fonts/HamburgSans-Regular.woff') format('woff'), /* Modern Browsers */
		url('@fonts/HamburgSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('@fonts/HamburgSans-Regular.svg#HamburgSans-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'hamburg-sans-bold';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('@fonts/HamburgSans-Bold.eot'); /* IE9 Compat Modes */
	src: url('@fonts/HamburgSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('@fonts/HamburgSans-Bold.woff2') format('woff2'), /* Modern Browsers */
		url('@fonts/HamburgSans-Bold.woff') format('woff'), /* Modern Browsers */
		url('@fonts/HamburgSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('@fonts/HamburgSans-Bold.svg#HamburgSans-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'hamburg-sans-bold-italic';
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	src: url('@fonts/HamburgSans-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('@fonts/HamburgSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('@fonts/HamburgSans-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
		url('@fonts/HamburgSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
		url('@fonts/HamburgSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('@fonts/HamburgSans-BoldItalic.svg#HamburgSans-BoldItalic') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'hamburg-sans-italic';
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	src: url('@fonts/HamburgSans-Italic.eot'); /* IE9 Compat Modes */
	src: url('@fonts/HamburgSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('@fonts/HamburgSans-Italic.woff2') format('woff2'), /* Modern Browsers */
		url('@fonts/HamburgSans-Italic.woff') format('woff'), /* Modern Browsers */
		url('@fonts/HamburgSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('@fonts/HamburgSans-Italic.svg#HamburgSans-Italic') format('svg'); /* Legacy iOS */
}
