/* This file must only contain variables and mixins. */

/* * * * * * * * * *
 * * * PIXELS  * * *
 * * * * * * * * * */

/* as defined in Styleguide */
$footer-height: 50px;

/* bow (dt. Schiffs-Bug) has 75% height of footer, and 3.5*height width */
$bow-height: $footer-height * 0.75;
$bow-width: $bow-height * 3.5;

/* * * * * * * * * *
 * * * COLOURS * * *
 * * * * * * * * * */

/* copied from hamburg.com */
$hamburg-color: #222;
$hamburg-content-background: #FFFFFF;
$hamburg-background: #FFFFFF55;

/* as defined in Styleguide */
$hamburg-blue: #003063;
$hamburg-bright-blue: #005CA9;
$hamburg-red: #E10019;
$hamburg-grey: #E3E3E3;
