<script setup>
const props = defineProps({
	type: {
		type: String,
		required: true,
	},
});

import { ref, computed, watch } from 'vue';
import { useAlertStore } from '@/store/alert';
import { isValidUrl } from '@/lib/validators';
import { load, typeConfigMap } from '@/lib/loadJSON';
import axios from 'axios';

const alert = useAlertStore();

const loading = ref(false);
const url = ref('');

const typeConfig = computed(() => typeConfigMap[props.type]);
const loadedUrl = computed({
	get: () => typeConfig.value.url.value,
	set: newUrl => {
		typeConfig.value.url.value = newUrl;
	},
});
const defaultUrl = computed(() => typeConfig.value.defaultUrl.value);

watch(() => props.type, type => {
	if (loadedUrl.value.startsWith('data:')) {
		url.value = defaultUrl.value;
		return;
	}
	url.value = loadedUrl.value;
}, { immediate: true });

async function loadFile () {
	if (!isValidUrl(url.value) || url.value === loadedUrl.value) {
		return;
	}
	loading.value = true;
	try {
		const { data } = await axios.get(url.value);
		await load(props.type, data);
		loadedUrl.value = url.value;
		alert.success({ content: 'chapters.loading.fromComputer.successLoad' });
	} catch (err) {
		console.error(err);
		alert.error({ content: 'chapters.loading.jsons.errorUpload', options: { error: err } });
	} finally {
		loading.value = false;
	}
}

async function resetChoice () {
	url.value = defaultUrl.value;
	await loadFile();
}

const loadButtonDisabled = computed(() => loading.value || !isValidUrl(url.value) || url.value === loadedUrl.value);
const confirmDialog = ref(false);
</script>

<template lang="pug">
v-expansion-panel
	v-expansion-panel-title {{ $t('chapters.loading.jsons.fromURL.title') }}
	v-expansion-panel-text
		v-card-actions
			v-text-field(
				clearable
				@click:clear="resetChoice"
				v-model="url"
				:label="$t('chapters.loading.fromUrl.urlFieldLabel')"
				:placeholder="$t('chapters.loading.fromUrl.urlPlaceholder')"
				:persistent-placeholder="true"
				:rules="[ v => isValidUrl(v) || $t('chapters.loading.fromUrl.urlInvalid') ]"
				dense
			)
		v-card-actions
			v-dialog(
				v-model="confirmDialog"
				min-width="500"
				max-width="80vw"
			)
				template(#activator="{ props }")
					v-btn(
						:disabled="loadButtonDisabled"
						:loading="loading"
						prepend-icon="edit"
						v-bind="props"
					) {{ $t('chapters.loading.fromUrl.loadUrlConfig') }}
				v-card
					v-card-title.text-h5 {{ $t('chapters.loading.jsons.hintTitle') }}
					v-card-text {{ $t('chapters.loading.jsons.hint') }}
					v-card-actions
						v-spacer
						v-btn(
							color="red"
							@click="confirmDialog = false"
						) {{ $t('chapters.loading.jsons.dialogAbort') }}
						v-btn(
							color="primary"
							@click="confirmDialog = false; loadFile($event)"
						) {{ $t('chapters.loading.jsons.dialogConfirm') }}
</template>
