<script setup>
const props = defineProps({
	type: {
		type: String,
		required: true,
	},
});
const emit = defineEmits([ 'load' ]);

import { ref, computed, onMounted } from 'vue';
import { useAlertStore } from '@/store/alert';
import { load, typeConfigMap } from '@/lib/loadJSON';
import axios from 'axios';

const alert = useAlertStore();

const typeConfig = computed(() => typeConfigMap[props.type]);
const files = ref([]);
const file = computed(() => files.value?.[0]);
const filename = computed(() => file.value?.name);
const loading = ref(false);

async function readFile (localFile) {
	const fr = new FileReader();
	const loadPromise = new Promise(resolve => {
		fr.onload = resolve;
	});
	fr.readAsDataURL(localFile);
	return (await loadPromise).target.result;
}

async function onFileUpload () {
	if (!file.value) return;
	const dataURL = await readFile(file.value);
	loading.value = true;
	try {
		const { data } = await axios.get(dataURL);
		await load(props.type, data);
		typeConfig.value.url.value = dataURL;
		alert.success({ content: 'chapters.loading.fromComputer.successLoad' });
		files.value = [];
	} catch (err) {
		console.error(err);
		alert.error({ content: 'chapters.loading.jsons.errorUpload', options: { error: err } });
	} finally {
		loading.value = false;
	}
}

const confirmDialog = ref(false);
</script>

<template lang="pug">
v-expansion-panel
	v-expansion-panel-title {{ $t('chapters.loading.jsons.upload.title') }}
	v-expansion-panel-text
		v-file-input(
			prepend-icon="cloud_upload"
			accept=".json,application/json"
			v-model="files"
			:placeholder="filename || $t('chapters.loading.fromComputer.actionUpload')"
			:persistent-placeholder="true"
		)
		v-dialog(
			v-model="confirmDialog"
			min-width="500"
			max-width="80vw"
		)
			template(#activator="{ props }")
				v-btn(
					:disabled="!filename"
					:loading="loading"
					prepend-icon="edit"
					v-bind="props"
					flat
				) {{ $t('chapters.loading.fromUrl.loadUrlConfig') }}
			v-card
				v-card-title.text-h5 {{ $t('chapters.loading.jsons.hintTitle') }}
				v-card-text {{ $t('chapters.loading.jsons.hint') }}
				v-card-actions
					v-spacer
					v-btn(
						color="red"
						@click="confirmDialog = false"
					) {{ $t('chapters.loading.jsons.dialogAbort') }}
					v-btn(
						color="primary"
						@click="confirmDialog = false; onFileUpload($event)"
					) {{ $t('chapters.loading.jsons.dialogConfirm') }}

</template>
