<script setup>
const props = defineProps({
	node: {
		type: Object,
		required: true,
	},
	edge: {
		type: Object,
		required: true,
	},
	configPath: {
		type: Array,
		required: true,
	},
	tableConfig: {
		type: Object,
		default: null,
	},
});

import { ref, toRefs, computed } from 'vue';
import { useConfigStore } from '@/store/config';
import { useGraphStore } from '@/store/graph';
import { BasicFieldTypes, doesValueMatchType } from '@masterportal/mpconfigparser';

import InputBoolean from './InputBoolean.vue';
import InputString from './InputString.vue';
import InputNumber from './InputNumber.vue';
import InputCoordinate from './InputCoordinate.vue';
import InputExtent from './InputExtent.vue';
import InputArray from './InputArray.vue';
import InputEnum from './InputEnum.vue';
import InputObject from './InputObject.vue';
import InputLayer from './InputLayer.vue';
import InputEPSG from './InputEPSG.vue';
import InputStyle from './InputStyle.vue';
import InputRestService from './InputRestService.vue';

const { node, edge, configPath } = toRefs(props);
const config = useConfigStore();
const graph = useGraphStore();

/** Map of field types to input elements */
const typeToInputMap = new Map([
	[ BasicFieldTypes.boolean, InputBoolean ],
	[ BasicFieldTypes.string, InputString ],
	[ BasicFieldTypes.number, InputNumber ],
	[ BasicFieldTypes.float, InputNumber ],
	[ BasicFieldTypes.integer, InputNumber ],
	[ BasicFieldTypes.coordinate, InputCoordinate ],
	[ BasicFieldTypes.extent, InputExtent ],
	[ BasicFieldTypes.array, InputArray ],
	[ BasicFieldTypes.enum, InputEnum ],
	[ BasicFieldTypes.object, InputObject ],
	[ BasicFieldTypes.layerId, InputLayer ],
	[ BasicFieldTypes.restId, InputRestService ],
	[ BasicFieldTypes.styleId, InputStyle ],
	[ 'exEPSG', InputEPSG ],
]);
const typeToLabelMap = new Map([
	[ BasicFieldTypes.boolean, 'forms.formElement.checkbox' ],
	[ BasicFieldTypes.string, 'forms.formElement.text' ],
	[ BasicFieldTypes.number, 'forms.formElement.number' ],
	[ BasicFieldTypes.float, 'forms.formElement.number' ],
	[ BasicFieldTypes.integer, 'forms.formElement.naturalNumber' ],
	[ BasicFieldTypes.coordinate, 'forms.formElement.coordinate' ],
	[ BasicFieldTypes.extent, 'forms.formElement.extent' ],
	[ BasicFieldTypes.array, 'forms.formElement.list' ],
	[ BasicFieldTypes.enum, 'forms.formElement.enum' ],
	[ BasicFieldTypes.object, '_object' ], // '_object' is replaced in getter method below
	[ BasicFieldTypes.layerId, 'forms.formElement.layerId' ],
	[ BasicFieldTypes.restId, 'forms.formElement.restId' ],
	[ BasicFieldTypes.styleId, 'forms.formElement.styleId' ],
	[ 'exEPSG', 'forms.formElement.exEPSG' ],
]);

const target = computed(() => graph.configTarget(configPath.value));
const component = ref(null);
const model = computed({
	get: () => target.value?.[edge.value.name],
	set: value => {
		target.value[edge.value.name] = value;
	},
});

const typeIndexData = ref(null);
const typeIndex = computed({
	get: () => typeIndexData.value,
	set: i => {
		if (typeIndexData.value !== null) {
			// type index is changed manually -> need to reset store data
			model.value = new ([ edge.value.types[i] ].flat()[0])();
		}
		typeIndexData.value = i;
	},
});

function getTypeIndex () {
	// infers initial type from given value of loaded config.json
	if (edge.value.types.length > 1) {
		const val = model.value;
		if (val !== null && typeof val !== 'undefined') {
			// if a value matches multiple allowed types, use first - can't distinguish if types overlap (e.g. String/Enum could)
			const index = edge.value.types.findIndex(type => doesValueMatchType(graph.graph, node.value, edge.value, { val }, [ type ]));
			// return index if any was found
			if (index > -1) {
				return index;
			}
		}
	}
	// if nothing matches, might as well take first type (no clear value / no valid value)
	return 0;
}
typeIndex.value = getTypeIndex();

const formId = computed(() => `${edge.value.name}InputForm`);

// generic lookup method for any field-type-keyed map
function lookup (type, map, { name }) {
	const lookupType = Array.isArray(type) ? type[0] : type;
	if (map.has(lookupType)) {
		return map.get(lookupType);
	}
	console.warn('Lookup failed for edge', name, lookupType);
	return null;
}

const inputElement = computed(() => {
	// Insert extra types, if found for this path
	const path = [ ...node.value.path, node.value.name, edge.value.name ].join('.');
	const typesWithPath = config.admintoolConfig?.extendedTypes?.filter(({ name }) => name === path);
	const type = typesWithPath?.length ? typesWithPath[typesWithPath.length - 1].type : edge.value.types[typeIndex.value];
	return lookup(type, typeToInputMap, edge.value);
});

function getObjectName (path) {
	return graph.graph.nodes[path].label;
}

function getTypeLabel (type) {
	const ret = lookup(type, typeToLabelMap, edge.value);
	return ret === '_object' ? getObjectName(type[1]) : ret;
}

defineExpose({
	component,
});
</script>

<template lang="pug">
component(
	v-if="target"
	:is="props.tableConfig ? 'td' : 'div'"
	:id="formId"
	:width="props.tableConfig?.columnWidths?.[edge.name]"
	:class="props.tableConfig ? 'no-padding' : ''"
)
	//- if multiple types are allowed for this field, render a type chooser
	v-col(v-if="edge.types.length > 1")
		p.v-input--selection-controls.pull
			v-radio-group(v-model="typeIndex" row :label="$t('forms.formElement.entryType')")
				v-radio(
					v-for="(item, index) in edge.types"
					:label="$t(getTypeLabel(item))"
					:value="index"
					:key="edge.name + 'Type' + index"
				)
	component(
		ref="component"
		:is="inputElement"
		:key="[ ...configPath, edge.name, 'type', typeIndex ].join('/')"
		:node="node"
		:edge="edge"
		:typeIndex="typeIndex"
		:configPath="configPath"
		v-model="model"
	)
</template>

<style lang="scss" scoped>
@import '../../globals.scss';
.pull {
	/* radio group produces too much spacing; fields look disconnected without this */
	margin-bottom: -28px;
}
.no-padding {
	padding: 0 !important;
}
</style>
