<script setup>
const props = defineProps({
	edge: {
		type: String,
		required: true,
	},
	// will only render form fields; info texts are skipped
	minimal: {
		type: Boolean,
		default: false,
	},
});

import { ref, toRefs, computed } from 'vue';

const { edge, minimal } = toRefs(props);

const collapsed = ref(true);
const dialog = ref(false);

// Decides whether this is handled as json or text
const isJSON = computed(() => edge.value.indexOf('#!json') > -1);

// Counts rows
const rows = computed(() => {
	/* eslint-disable-next-line func-style */
	const f = (l = 0) => {
		const currentBreak = edge.value.indexOf('\n', l);
		if (currentBreak > -1) {
			return 1 + f(currentBreak + 1);
		}
		return 0;
	};
	return f();
});

function toggleCollapse () {
	collapsed.value = !collapsed.value;
}
</script>

<template lang="pug">
template(v-if="!minimal")
	v-card-text(v-if="!isJSON" v-html="edge").less-padding
	v-col(v-else).margin-btm.less-padding
		v-card(tile)
			v-col
				v-row
					div
						div.min-size(v-if="rows > 3")
							v-btn(
								@click="toggleCollapse"
								flat
								:icon="collapsed ? 'visibility' : 'visibility_off'"
							)
						v-fab-transition
							div(v-if="(!collapsed || rows <= 3)")
								div.min-size
									v-btn(
										@click="dialog = true"
										flat
										icon="text_snippet"
									)
					v-divider(vertical).divider-size
					div.wrapper
						pre(:style="!collapsed || rows <= 3 ? 'height: auto;' : 'height: 80px;'" v-html="edge").no-overflow
		v-dialog(v-model="dialog" min-width="500" max-width="80vw")
			v-card
				v-col
					v-row
						v-col(cols="11")
							pre(v-html="edge").no-overflow
						v-spacer
						v-btn(
							@click="dialog = !dialog"
							flat
							icon="close"
						)
</template>

<style lang="scss" scoped>
.less-padding {
	padding-bottom: 0;
}
.margin-btm {
	margin-bottom: 25px;
}
.min-size {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.divider-size {
	width: 10px;
}
.wrapper {
	width: calc(100% - 60px);
	margin-left: 4px;
	margin-right: 4px;
}
.no-overflow {
	height: 100%;
	overflow: hidden;
}
</style>
