<script setup>
const props = defineProps({
	node: {
		type: Object,
		required: true,
	},
	configPath: {
		type: Array,
		required: true,
	},
	// will only render form fields; info texts are skipped
	minimal: {
		type: Boolean,
		default: false,
	},
	tableConfig: {
		type: Object,
		default: null,
	},
});

/**
 * Generates a form from a graph node.
 * This is done by going through all outgoing edges of the node.
 * Edges representing a data field are rendered with the FormElement.
 * Edges representing user information are assumed to be HTML
 * (from @masterportal/mpconfigparser's parseMarkdown) and simply rendered.
 */

import { toRefs, computed, ref } from 'vue';
import { useConfigStore } from '@/store/config';
import { useGraphStore } from '@/store/graph';
import { useExpertModeStore } from '@/store/expertMode';
import HtmlElement from './HtmlElement.vue';
import FormElement from './FormElement.vue';
import Empty from '@/components/Empty.vue';

const { node, configPath, minimal } = toRefs(props);
const config = useConfigStore();
const graph = useGraphStore();
const expertMode = useExpertModeStore();

const formElements = ref([]);
const toSortAlphabetically = computed(() => config.admintoolConfig?.sortAlphabetically || []);
const isSortable = computed(() => config.admintoolConfig?.isSortable || []);
const sortedChildren = computed(() => {
	// Sorts the outgoing order by name (attributions < baselayer)
	//  only if chapterKey is part of toSortAlphabetically
	if (toSortAlphabetically.value.includes(node.value.chapterKey)) {
		// Sort everything beside html
		const sorted = node.value.outgoingOrder
			.filter(key => typeof node.value.outgoing[key] !== 'string')
			.sort((a, b) => a.localeCompare(b));
		// Integrate with html at its original position
		let i = 0;
		return node.value.outgoingOrder.map(key => {
			if (typeof node.value.outgoing[key] !== 'string') {
				return sorted[i++];
			}
			return key;
		});
	}
	// Should not be sorted further
	return node.value.outgoingOrder;
});

function display (key) {
	// Catch too early loading of this component
	if (typeof key === 'undefined') {
		return false;
	}
	const joinedPath = [ ...configPath.value, key ].join('.');
	const isExcludedChapter = config.admintoolConfig.excludedChapters?.map(c => c.toLowerCase())
		.includes(joinedPath.toLocaleLowerCase());

	return (
		// Exclude some configured tools or features since they are not supported at the moment
		!config.admintoolConfig.excludedFeatures?.map(element => element.toLowerCase()).includes(key.toLowerCase()) &&
		// Exclude tools if their related chapter is excluded
		!isExcludedChapter &&
		// if expert mode is off, only render if key is not marked expert key
		(expertMode.expertMode || !node.value.outgoing[key].expert) &&
		// hide deprecated features
		!node.value.outgoing[key].deprecated
	);
}

function switchElement (a, b) {
	const configPrefix = [ ...configPath.value ];
	const configSuffix = configPrefix.pop();
	[ sortedChildren.value[a], sortedChildren.value[b] ] = [ sortedChildren.value[b], sortedChildren.value[a] ];

	// TODO: This is possibly not the perfect place to resort, but it seems to work...
	const target = graph.configTarget(configPrefix);
	target[configSuffix] = Object.fromEntries(sortedChildren.value.map(key => [ key, target[configSuffix][key] ]));
}

const nestedDescriptions = computed(() => props.tableConfig ?
	sortedChildren.value.filter(key => typeof node.value.outgoing[key] === 'string').map(key => node.value.outgoing[key])
	: []);

defineExpose({
	nestedDescriptions,
	formElements,
});
</script>

<template lang="pug">
component(:is="props.tableConfig ? Empty : 'div'")
	//- Iterate on nodes.
	template(v-for="(key, index) of sortedChildren")
		template(v-if="display(key)")
			//- print text edges directly (content is prepared in @masterportal/mpconfigparser's method parseMarkdown)
			template(v-if="typeof node.outgoing[key] === 'string'")
				HtmlElement(
					v-if="!props.tableConfig"
					ref="formElements"
					:minimal="minimal"
					:edge="node.outgoing[key]"
				)
			template(v-else)
				template(v-if="isSortable.includes(node.chapterKey)")
					v-row
						v-col(cols="10")
							FormElement(
								:tableConfig="props.tableConfig"
								ref="formElements"
								:node="node"
								:edge="node.outgoing[key]"
								:configPath="configPath"
							)
						v-col(cols="2")
							v-btn.mt-4(
								@click="switchElement(index, index - 1)"
								:disabled="index === 0"
								variant="text"
								icon="arrow_upward"
								color="accent"
								size="small"
							)
							v-btn.mt-4(
								@click="switchElement(index, index + 1)"
								:disabled="index === (sortedChildren.length - 1)"
								variant="text"
								icon="arrow_downward"
								color="accent"
								size="small"
							)
				template(v-else)
					FormElement(
						:tableConfig="props.tableConfig"
						ref="formElements"
						:node="node"
						:edge="node.outgoing[key]"
						:configPath="configPath"
					)
				hr(v-if="index !== node.outgoingOrder.length - 1 && !props.tableConfig").form-element-separator
</template>

<style lang="scss" scoped>
@import '../../globals.scss';
.form-element-separator {
	margin: 5px 0 5px 0;
	border-style: dashed;
	border-width: 0;
	border-top-width: 1px;
	border-top-color: $hamburg-grey;
}
</style>
