<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { reactive, computed } from 'vue';
import { useLayersStore } from '@/store/layers';
import { beautifyString } from '@/lib/localeHelper';
import DropdownElement from './dropdown/DropdownElement.vue';

const layers = reactive([]);
const description = computed(() => beautifyString(props.edge.description));
const selectedLayer = computed({
	get: () => typeof props.modelValue === 'string' ? props.modelValue : '',
	set: (value = '') => {
		emit('update:modelValue', value);
	},
});

const layersStore = useLayersStore();
layersStore.getLightLayers().then(lightLayers => {
	layers.push(...lightLayers.map(layer => ({
		id: layer.id,
		name: layer.name,
		visibility: layer.visibility === 1,
		styleId: layer.styleId,
		...JSON.parse(layer.unmanaged),
	})));
});
</script>

<template lang="pug">
v-col
	p {{ edge.label }}
	v-col.text-caption {{ $t('forms.inputLayer.description') }}
	DropdownElement(
		:items="layers"
		itemExtractor="id"
		:itemLabel="value => `${value.name} (ID: ${value.id})`"
		:label="$t('forms.inputLayer.availableLayers')"
		:placeholder="$t('forms.inputLayer.startTyping')"
		:description="description"
		v-model="selectedLayer"
	)
</template>
