<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { ref, computed } from 'vue';
import { beautifyString } from '@/lib/localeHelper';
import TooltipIcon from './tooltips/TooltipIcon.vue';

const defaultValue = computed(() => (!props.edge?.default || typeof props.edge.default !== 'boolean') ? false : props.edge.default);
const model = computed({
	get: () => Boolean(props.modelValue ?? defaultValue.value),
	set: value => {
		/* eslint-disable-next-line no-use-before-define */
		indeterminate.value = false;
		emit('update:modelValue', Boolean(value));
		// if (!props.edge.required), checkbox *could* be tri-state (true/false/undefined):
		// this.setValue(this.getValue() === false ? undefined : Boolean(value)); // eslint-disable-line
	},
});
const description = computed(() => beautifyString(props.edge.description));

// may be indeterminate initially (neither true nor false in config.json)
const indeterminate = ref(typeof model.value === 'undefined');
</script>

<template lang="pug">
v-col.less-padding
	v-checkbox(
		v-model="model"
		:label="edge.label"
		color="primary"
		:rules="[]"
		:indeterminate="indeterminate"
	)
		template(#append)
			tooltip-icon(:description="description")
</template>

<style lang="scss" scoped>
.less-padding {
	padding-top: 2px;
	padding-bottom: 0;
}
</style>
