<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { computed } from 'vue';
import { useTranslation } from 'i18next-vue';
import { stringIsInteger, stringIsFloat } from '@/lib/validators';
import MultiCombobox from './MultiCombobox.vue';
import fromExponential from 'from-exponential';
import { isIntegerType } from '@masterportal/mpconfigparser';

const { i18next } = useTranslation();
const isFloat = computed(() => !isIntegerType(props.edge.types[props.typeIndex][1]));
const rules = computed(() => isFloat.value
	? [ v => v.every(o => stringIsFloat(o.title)) || i18next.t('forms.inputNumber.invalidFloat') ]
	: [ v => v.every(o => stringIsInteger(o.title)) || i18next.t('forms.inputNumber.invalidInteger') ]);

const model = computed({
	get: () => !Array.isArray(props.modelValue) ? [] : props.modelValue.map((value, id) => {
		// fromExponential is used to avoid javascript automatically generating the scientific notation (e.g. 1.44e+23)
		const displayString = fromExponential(value);
		return {
			content: isNaN(displayString) ? value : displayString,
			id,
		};
	}),
	set: (value = []) => {
		emit('update:modelValue', value.map(o => {
			const incomingValue = typeof o === 'string' ? o : o.content;
			const parsedValue = isFloat.value ? parseFloat(incomingValue) : parseInt(incomingValue, 10);
			return isNaN(parsedValue) ? incomingValue : parsedValue;
		}));
	},
});
</script>

<template lang="pug">
v-form(@submit.prevent="")
	MultiCombobox(
		v-model="model"
		:rules="rules"
		:edge="edge"
	)
</template>
