<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { computed } from 'vue';
import MultiCombobox from './MultiCombobox.vue';

const model = computed({
	get: () => props.modelValue?.map((content, id) => ({ content, id })) ?? [],
	set: (value = []) => {
		emit('update:modelValue', value.map(it => typeof it === 'string' ? it : it.content));
	},
});
</script>

<template lang="pug">
MultiCombobox(
	v-model="model"
	:edge="edge"
)
</template>
