<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { computed, ref } from 'vue';
import { beautifyString } from '@/lib/localeHelper';
import TooltipIcon from './tooltips/TooltipIcon.vue';

const model = computed({
	get: () => typeof props.modelValue === 'string' ? props.modelValue : '',
	set: (value = '') => {
		emit('update:modelValue', value);
	},
});

const defaultValue = computed(() => (!props.edge?.default || typeof props.edge.default !== 'string') ? '' : props.edge.default);
const errorMessages = computed(() => props.edge.required && !model.value && !defaultValue.value ? [ 'forms.inputString.emptyField' ] : []);
const hasErrors = computed(() => errorMessages.value.length !== 0);
const description = computed(() => beautifyString(props.edge.description));

defineExpose({
	hasErrors,
});
</script>

<template lang="pug">
v-col
	v-form
		v-text-field(
			v-model="model"
			:label="edge.label"
			color="primary"
			:errorMessages="errorMessages.map($t)"
			:placeholder="defaultValue"
			:persistent-placeholder="!!defaultValue"
			clearable
		)
			template(#append)
				tooltip-icon(
					:description="description"
					:icon="errorMessages.length ? 'warning' : 'info'"
				)
</template>
