<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { ref, computed } from 'vue';
import { useRouter } from 'vue-router';
import { useGraphStore } from '@/store/graph';
import { beautifyString } from '@/lib/localeHelper';
import deepCopy from '@/lib/deepCopy';
import GeneratedForm from './index.vue';
import TooltipIcon from './tooltips/TooltipIcon.vue';
import CollapseBtn from './collapse/CollapseBtn.vue';
import Empty from '@/components/Empty.vue';

const router = useRouter();
const graph = useGraphStore();
const collapsed = ref(true);
const generatedForm = ref(null);

function createDefaultNode () {
	const defaultElement = graph.defaultConfigTarget([ ...props.configPath, props.edge.name ]);
	return defaultElement ? deepCopy(defaultElement) : {};
}

const hasErrors = computed(() => generatedForm.value?.formElements.some(element => element.component?.hasErrors));

const enabled = computed({
	get: () => typeof props.modelValue !== 'undefined',
	set: value => {
		if (!value) {
			emit('update:modelValue');
			return;
		}
		emit('update:modelValue', createDefaultNode());
	},
});

const description = computed(() => beautifyString(props.edge.description));
const isInArray = computed(() => Array.isArray(props.edge.types[props.typeIndex][1]));
const targetKey = computed(() => {
	const [ , type ] = props.edge.types[props.typeIndex];
	return isInArray.value ? type[1] : type;
});
const isH1ToH3 = computed(() => graph.graph.nodes[targetKey.value].h < 4);
const nextConfigPath = computed(() => {
	if (!isInArray.value) {
		return [ ...props.configPath, props.edge.name ];
	}
	const newConfigPath = [ ...props.configPath ];
	newConfigPath.splice(newConfigPath.length - 1, 0, props.edge.name);
	return newConfigPath;
});

function navigate (it) {
	router.push(it);
	window.scrollTo(0, 0);
}

defineExpose({
	generatedForm,
});
</script>

<template lang="pug">
component.input-object-container(:is="props.tableConfig ? Empty : 'div'")
	//- availability/edit control - only visible if not handled by InputArray
	v-toolbar(
		v-if="!isInArray"
		:class="[ isH1ToH3 ? '' : 'input-object-openable', enabled ? '' : 'input-object-inactive', hasErrors ? 'hasErrors': 'noErrors']"
	).elevation-2.cardMargin.px-4
		v-toolbar-items
			v-checkbox(v-model="enabled").input-object-toolbar-checkbox
		a(v-if="enabled && isH1ToH3" @click="navigate({ path: props.edge.types[typeIndex][1] })")
			v-card-title.navigateToChapterText {{ props.edge.label }}
		v-card-title(v-else) {{ props.edge.label }}
		v-spacer
		v-fab-transition
			div(v-if="enabled && !isH1ToH3")
				CollapseBtn(v-model="collapsed")
		TooltipIcon(v-if="hasErrors" icon='warning' :description="$t('forms.inputObject.emptyProperty')")
		TooltipIcon(:description="description")
	template(v-if="!isInArray")
		v-expand-transition
			v-card(
				tile
				v-if="enabled && !isH1ToH3"
				v-show="!collapsed"
				:class="!isH1ToH3 && 'input-object-openable'"
			).elevation-2
				div.wrapper
					GeneratedForm(
						:tableConfig="props.tableConfig"
						ref="generatedForm"
						:node="graph.graph.nodes[targetKey]"
						:configPath="nextConfigPath"
					)
	template(v-else)
		//- only first element will hold info
		GeneratedForm(
			ref="generatedForm"
			:tableConfig="props.tableConfig"
			:node="graph.graph.nodes[targetKey]"
			:configPath="nextConfigPath"
			:minimal="nextConfigPath[nextConfigPath.length - 1] !== 0"
		)
</template>

<style lang="scss">
@import '../../globals.scss';

.navigateToChapterText {
	color: black;
	transition-duration: 1000ms;
	&:hover {
		color: inherit;
	}
}

.cardMargin {
	margin-top: 5px;
	margin-bottom: 10px;
}

.hasErrors {
	background-color: #ffaeb6 !important;
}

.noErrors {
	background-color: #cef !important;
}

.input-object-container {
	margin-top: 16px;
	width: 100%;
	.input-object-toolbar-checkbox {
		align-items: center;
		.v-input__control {
			.v-input__slot {
				margin: 0;
			}
			.v-messages {
				display: none;
			}
		}
	}
	.input-object-openable {
		border-left: 3px solid var(--v-accent-base);
		margin-top: 5px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.input-object-inactive {
		background-color: darken($hamburg-content-background, 5%);
		color: lighten($hamburg-color, 40%);
	}
}

.wrapper {
	margin-left: 5px;
	margin-right: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}
</style>
