<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

/**
 * Number input element.
 * Can be used either in float or in integer mode.
 * Will not write non-numbers back to store; all string handling is done here.
 */

import { computed } from 'vue';
import { stringIsInteger, stringIsFloat } from '@/lib/validators';
import { beautifyString } from '@/lib/localeHelper';
import fromExponential from 'from-exponential';
import { BasicFieldTypes } from '@masterportal/mpconfigparser';
import TooltipIcon from './tooltips/TooltipIcon.vue';

const isFloat = computed(() => props.edge.types[props.typeIndex] !== BasicFieldTypes.integer);
const rules = computed(() => !isFloat.value
	? [ v => stringIsInteger(v) || 'forms.inputNumber.invalidInteger' ]
	: [ v => stringIsFloat(v) || 'forms.inputNumber.invalidFloat' ]);

function parseValue (v) {
	return [ 'string', 'number' ].includes(typeof v) ? fromExponential(v) : '';
}

const defaultValue = computed(() => parseValue(props.edge.default));
const model = computed({
	get: () => typeof props.modelValue === 'undefined' ? '' : parseValue(props.modelValue),
	set: (v = '') => {
		const value = (isFloat.value ? parseFloat(v) : parseInt(v, 10));
		if (props.edge.required) {
			emit('update:modelValue', value || 0); // replace NaN with 0
		} else {
			// must allow explicitly setting undefined so that default is shown
			emit('update:modelValue', isNaN(value) ? undefined : value); // eslint-disable-line
		}
	},
});
const description = computed(() => beautifyString(props.edge.description));
</script>

<template lang="pug">
v-col
	v-form
		v-text-field(
			v-model="model"
			:label="props.edge.label"
			color="primary"
			:rules="rules"
			:placeholder="defaultValue"
			:persistent-placeholder="!!defaultValue"
			clearable
		)
			template(#append)
				tooltip-icon(:description="description")
</template>
