<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { computed } from 'vue';
import { useConfigStore } from '@/store/config';
import { beautifyString } from '@/lib/localeHelper';
import DropdownElement from './dropdown/DropdownElement.vue';

const config = useConfigStore();

const description = computed(() => beautifyString(props.edge.description));
const epsgs = computed(() => config.masterportalApiConfig.namedProjections || []);
const model = computed({
	get: () => typeof props.modelValue === 'string' ? props.modelValue : '',
	set: (value = '') => {
		emit('update:modelValue', value);
	},
});
</script>

<template lang="pug">
v-col
	p {{ edge.label }}
	v-col.text-caption {{ $t('forms.inputEPSG.description') }}
	DropdownElement(
		:items="epsgs"
		:itemExtractor="value => value[0]"
		:itemLabel="value => value[0]"
		v-model="model"
		:label="model"
		:placeholder="$t('forms.inputEPSG.startTyping')"
		:description="description"
	)
</template>
