<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { ref, computed, watch, onMounted } from 'vue';
import { useTranslation } from 'i18next-vue';
import { usePreviewStore } from '@/store/preview';
import { isNoElementTruthy } from '@/lib/arrayHelper';
import { getLabels } from '@/lib/crsHelper';
import { beautifyString } from '@/lib/localeHelper';
import { crs } from '@masterportal/masterportalapi';
import MapElement from './mapPreview/MapElement.vue';

const { i18next } = useTranslation();
const preview = usePreviewStore();

const coordinateInputRules = [
	input => Boolean(input) || i18next.t('forms.inputExtent.emptyField'),
	input => {
		const inputStr = input.toString();
		if (inputStr.match(/([^0-9.,]|(\.|,)$)/i) || (inputStr.match(/(,|\.)/g) || []).length > 1) {
			return i18next.t('forms.inputExtent.invalid');
		}
		return true;
	},
];

const model = computed({
	get: () => props.modelValue,
	set: value => {
		emit('update:modelValue', value);
	},
});
function getExtentValue (idx) {
	return model.value?.[idx] ?? '';
}
function setExtentValue (idx, value) {
	if (!(model.value && model.value.length === 4)) {
		model.value = Array(4);
	}
	model.value[idx] = parseFloat(value);

	if (isNoElementTruthy(model.value)) {
		/* eslint-disable-next-line no-undefined */
		model.value = undefined;
	} else {
		model.value = [ ...model.value ];
	}
}

const left = computed({
	get: () => getExtentValue(0),
	set: value => {
		setExtentValue(0, value);
	},
});
const bottom = computed({
	get: () => getExtentValue(1),
	set: value => {
		setExtentValue(1, value);
	},
});
const right = computed({
	get: () => getExtentValue(2),
	set: value => {
		setExtentValue(2, value);
	},
});
const top = computed({
	get: () => getExtentValue(3),
	set: value => {
		setExtentValue(3, value);
	},
});

const currentEpsgCode = ref(preview.epsgCode);
const description = computed(() => beautifyString(props.edge.description));
const labels = computed(() => getLabels(preview.epsgCode));
const labelX = computed(() => i18next.t(...labels.value.labelX));
const labelY = computed(() => i18next.t(...labels.value.labelY));

function changeCRS (targetEPSG, sourceEPSG) {
	[ left.value, top.value ] = crs.transform(sourceEPSG, targetEPSG, [ left.value, top.value ]);
	[ right.value, bottom.value ] = crs.transform(sourceEPSG, targetEPSG, [ right.value, bottom.value ]);
}
watch(() => preview.epsgCode, targetEPSG => {
	// TODO: Workaround until a solution for epsg-Code field is availible.
	const projectionMap = new Map();
	const projections = crs.getProjections();
	if (projections) {
		for (const projection of projections) {
			projectionMap.set(projection.name, projection);
		}
	}
	if (projectionMap.has(targetEPSG)) {
		// TODO: Use sourceEPSG instead of currentEpsgCode when epsg input becomes enum type
		changeCRS(targetEPSG, currentEpsgCode.value);
		currentEpsgCode.value = targetEPSG;
	}
});

onMounted(() => {
	if (typeof props.modelValue === 'undefined' && Array.isArray(props.edge?.default) && props.edge.default.length === 4) {
		model.value = props.edge.default;
	}
});

function zoomToEpsgInput () {
	const target = document.getElementById('epsgInputForm');
	target.scrollIntoView();
}
</script>

<template lang="pug">
v-col
	v-toolbar.elevation-2
		v-toolbar-title {{ edge.label }}
		v-spacer
		a.epsgCodeInfo(@click="zoomToEpsgInput") {{ preview.epsgCode }}
	v-card(tile)
		MapElement(
			:targetName="`map-${edge.name}`"
			type="box"
			:epsgCode="preview.epsgCode"
			v-model="model"
		)
		v-divider
		v-card-text
			v-form(ref="coordExtentForm")
				v-container
					v-row
						v-spacer
						v-col(cols="3")
							v-text-field(
								v-model="top"
								:label="`${$t('forms.inputExtent.north')}: ${labelY}`"
								:rules="coordinateInputRules"
								required
							)
						v-spacer
					v-row
						v-col(cols="3")
							v-text-field(
								v-model="left"
								:label="`${$t('forms.inputExtent.west')}: ${labelX}`"
								:rules="coordinateInputRules"
								required
							)
						v-spacer
						v-col(cols="3")
							v-text-field(
								v-model="right"
								:label="`${$t('forms.inputExtent.east')}: ${labelX}`"
								:rules="coordinateInputRules"
								required
							)
					v-row
						v-spacer
						v-col(cols="3")
							v-text-field(
								v-model="bottom"
								:label="`${$t('forms.inputExtent.south')}: ${labelY}`"
								:rules="coordinateInputRules"
								required
							)
						v-spacer
				p {{ description }}
</template>

<style lang="scss" scoped>
@import '../../globals.scss';

.epsgCodeInfo {
	color: $hamburg-color;
	font-size: 0.75em;
	margin-right: 2em;
}
</style>
