<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps({
	...inputProps,
	multi: {
		type: Boolean,
		default: false,
	},
});
const emit = defineEmits(inputEmits);

/**
 * Input element for enums. Features a multi-mode, where multiple
 * enums can be chosen.
 */

import { computed } from 'vue';
import { beautifyString } from '@/lib/localeHelper';

const defaultValue = computed(() => props.edge.default);
const type = computed(() => props.edge.types[props.typeIndex]);
const options = computed(() => props.multi ? type.value[1][1] : type.value[1]);
const description = computed(() => beautifyString(props.edge.description));
const model = computed({
	get: () => props.modelValue ?? defaultValue.value,
	set: value => {
		const def = props.multi ? [] : '';
		emit('update:modelValue', !value ? def : value);
	},
});
</script>

<template lang="pug">
v-col
	v-select(
		v-model="model"
		:label="props.edge.label"
		color="primary"
		:items="options"
		:placeholder="defaultValue"
		:clearable="!edge.required"
		:multiple="multi"
	)
	div.text-caption(v-html="description")
</template>
