<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

/**
 * Array component that either
 * 1) renders the matching multi input component
 * or, if no such component exists
 * 2) renders a generic list view that contains multiple instances of single-input elements
 */

import { ref, computed, onMounted } from 'vue';
import { beautifyString } from '@/lib/localeHelper';
import { BasicFieldTypes } from '@masterportal/mpconfigparser';

import InputMultiString from './InputMultiString.vue';
import InputMultiNumber from './InputMultiNumber.vue';
import InputEnum from './InputEnum.vue';
import InputBoolean from './InputBoolean.vue';
import InputCoordinate from './InputCoordinate.vue';
import InputExtent from './InputExtent.vue';
import InputArray from './InputArray.vue';
import InputObject from './InputObject.vue';
import TooltipIcon from './tooltips/TooltipIcon.vue';
import CollapseBtn from './collapse/CollapseBtn.vue';
import Empty from '@/components/Empty.vue';
import { VTable, VCard, VCardText } from 'vuetify/components';
import { useConfigStore } from '@/store/config.js';
import HtmlElement from './HtmlElement.vue';

const config = useConfigStore();

const typeToInputMap = new Map([
	[ BasicFieldTypes.string, { component: InputMultiString } ],
	[ BasicFieldTypes.boolean, { component: InputBoolean, props: { multi: true } } ],
	[ BasicFieldTypes.number, { component: InputMultiNumber } ],
	[ BasicFieldTypes.float, { component: InputMultiNumber } ],
	[ BasicFieldTypes.integer, { component: InputMultiNumber } ],
	[ BasicFieldTypes.coordinate, { component: InputCoordinate, props: { multi: true } } ],
	[ BasicFieldTypes.extent, { component: InputExtent, props: { multi: true } } ],
	[ BasicFieldTypes.array, { component: InputArray } ],
	[ BasicFieldTypes.enum, { component: InputEnum, props: { multi: true } } ],
	[ BasicFieldTypes.object, { component: InputObject, props: { multi: true } } ],
]);

const arrayItems = ref([]);
const collapsed = ref(false);
const model = computed({
	get: () => props.modelValue,
	set: (value = []) => {
		emit('update:modelValue', value);
	},
});

const tableConfig = computed(() => (config.admintoolConfig?.arrayAsTable || []).find(element => element.name === `${props.node.chapterKey}.${props.edge.name}`));
const defaultValue = computed(() => (props.edge?.default && Array.isArray(props.edge.default) ? props.edge.default : []));
const description = computed(() => beautifyString(props.edge.description));
const nestedDescriptions = computed(() => ((arrayItems.value ?? []).find(item => item?.generatedForm?.nestedDescriptions?.length !== 0))?.generatedForm?.nestedDescriptions);
const inputElement = computed(() => {
	const type = props.edge.types[props.typeIndex];
	const arrayType = Array.isArray(type[1]) ? type[1][0] : type[1];
	return typeToInputMap.get(arrayType);
});
const displayAsGenericList = computed(() => ([
	// list of components that have no multi-mode or multi-component in typeToInputMap
	InputBoolean,
	InputArray,
	InputCoordinate,
	InputExtent,
	InputObject,
].includes(inputElement.value?.component)));

onMounted(() => {
	if (typeof props.modelValue === 'undefined') {
		model.value = Array.isArray(defaultValue.value) ? defaultValue.value : [];
	}
});

function addElement () {
	model.value.push(inputElement.value.component === InputObject ? {} : undefined); // eslint-disable-line
	collapsed.value = false;
}
function switchElement (a, b) {
	[ model.value[a], model.value[b] ] = [ model.value[b], model.value[a] ];
}
function removeElement (idx) {
	model.value.splice(idx, 1);
}
</script>

<template lang="pug">
v-col(v-if="Array.isArray(model)")
	//- CASE 1: No special input element exists; build generic solution for base input element
	template(v-if="displayAsGenericList")
		v-col
			v-row
				v-label {{ edge.label }}
				v-spacer
				v-fab-transition
					div(v-if="model.length")
						collapse-btn(v-model="collapsed")
				tooltip-icon(:description="description")
		//- if element is empty, display default value that masterportal will use
		v-card(tile v-if="!model.length && edge.default").input-array-card
			v-card-text {{ beautifyString($t('forms.inputArray.defaultValue', { value: JSON.stringify(edge.default) })) }}
		v-expand-transition
			div(v-show="!collapsed")
				component(:is="tableConfig ? VTable : Empty")
					thead(v-if="tableConfig && nestedDescriptions")
						tr(v-for="(nestedDescription) in nestedDescriptions")
							th(colspan="100%")
								HtmlElement(:edge="nestedDescription")
					component(:is="tableConfig ? 'tbody' : Empty")
						component.fullWidth.input-array-card(
							:is="tableConfig ? 'tr' : VCard"
							tile
							v-if="model.length"
							v-for="(item, index) in model"
							:key="[...configPath, edge.name, 'array', index, 'card'].join('/')"
							align-center
							justify-start
							elevation="5"
						)
							component.with-menu(:is="tableConfig ? Empty : VCardText")
								//- single input element for each entry
								component(
									ref="arrayItems"
									:is="inputElement.component"
									:key="[...configPath, edge.name, 'array', index].join('/')"
									:node="node"
									:edge="{...edge, label: '', description: '', 'default': ''}"
									:typeIndex="typeIndex"
									:configPath="[...configPath, index]"
									:tableConfig="tableConfig"
									v-model="model[index]"
								)
								// - control sidebar (switch, delete)
								div.unbreakable
									v-btn(
										@click="switchElement(index, index - 1)"
										:disabled="index === 0"
										variant="text"
										icon="arrow_upward"
										color="accent"
										size="small"
									)
									v-btn(
										@click="switchElement(index, index + 1)"
										:disabled="index === (model.length - 1)"
										variant="text"
										icon="arrow_downward"
										color="accent"
										size="small"
									)
									v-btn(
										@click="removeElement(index)"
										variant="text"
										icon="remove"
										color="error"
										size="small"
									)
		//- element count
		v-card-text {{ (model.length || '0') + ' ' + $t('forms.inputArray.xElements') }}
		//- add entry button
		v-expand-transition
			v-btn(v-show="!collapsed || !model.length" @click="addElement" color="accent") {{ $t('forms.inputArray.addEntry') }}
	//- CASE 2: Special input element exists, use that
	template(v-else)
		component(
			ref="arrayItems"
			:is="inputElement.component"
			:key="[ ...configPath, edge.name, 'arrayelement' ].join('/')"
			:node="node"
			:edge="edge"
			:typeIndex="typeIndex"
			:configPath="configPath"
			v-model="model"
			v-bind="inputElement.props ?? {}"
		)
</template>

<style lang="scss" scoped>
@import '../../globals.scss';

.with-menu {
	display: flex;
	justify-content: space-between;
}

.unbreakable {
	white-space: nowrap;
}

.input-array-card {
	border-left: 3px solid var(--v-accent-base);
	margin-top: 5px;
	margin-bottom: 10px;
}
</style>
