<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { ref, computed, watch } from 'vue';
import { useTranslation } from 'i18next-vue';
import { usePreviewStore } from '@/store/preview';
import { isNoElementTruthy } from '@/lib/arrayHelper';
import { getLabels } from '@/lib/crsHelper';
import { beautifyString } from '@/lib/localeHelper';
import { crs } from '@masterportal/masterportalapi';
import MapElement from './mapPreview/MapElement.vue';

const { i18next } = useTranslation();
const preview = usePreviewStore();

const coordinateInputRulesGeneral = [
	input => Boolean(input) || i18next.t('forms.inputCoordinate.emptyField'),
	input => {
		if (input) {
			const inputStr = input.toString();
			if (inputStr.match(/([^0-9.,]|(\.|,)$)/i) || (inputStr.match(/(,|\.)/g) || []).length > 1) {
				return i18next.t('forms.inputCoordinate.invalid');
			}
			return true;
		}
		return false;
	},
];
const coordinateInputRulesX = [
	input => {
		if (input >= preview.extent[0] && input <= preview.extent[2]) {
			return true;
		}
		return i18next.t('forms.inputCoordinate.outsideExtent');
	},
];
const coordinateInputRulesY = [
	input => {
		if (input >= preview.extent[1] && input <= preview.extent[3]) {
			return true;
		}
		return i18next.t('forms.inputCoordinate.outsideExtent');
	},
];

const model = computed({
	get: () => props.modelValue,
	set: value => {
		emit('update:modelValue', value);
	},
});
function getPositionValue (idx) {
	return model.value[idx] ?? '';
}
function setPositionValue (idx, value) {
	if (!(model.value && model.value.length === 2)) {
		// Create a valid position
		model.value = Array(2);
	}
	model.value[idx] = parseFloat(value);

	if (isNoElementTruthy(model.value)) {
		/* eslint-disable-next-line no-undefined */
		model.value = undefined;
	} else {
		model.value = [ ...model.value ];
	}
}

const X = computed({
	get: () => getPositionValue(0),
	set: value => {
		setPositionValue(0, value);
	},
});
const Y = computed({
	get: () => getPositionValue(1),
	set: value => {
		setPositionValue(1, value);
	},
});

const currentEpsgCode = ref(preview.epsgCode);
const description = computed(() => beautifyString(props.edge.description));
const labels = computed(() => getLabels(preview.epsgCode));
const labelX = computed(() => i18next.t(...labels.value.labelX));
const labelY = computed(() => i18next.t(...labels.value.labelY));

function changeCRS (targetEPSG, sourceEPSG) {
	[ X.value, Y.value ] = crs.transform(sourceEPSG, targetEPSG, [ X.value, Y.value ]);
}
watch(() => preview.epsgCode, targetEPSG => {
	// TODO: Workaround until a solution for epsg-Code field is availible.
	const projectionMap = new Map();
	const projections = crs.getProjections();
	if (projections) {
		for (const projection of projections) {
			projectionMap.set(projection.name, projection);
		}
	}
	if (projectionMap.has(targetEPSG)) {
		// TODO: Use sourceEPSG instead of currentEpsgCode when epsg input becomes enum type
		changeCRS(targetEPSG, currentEpsgCode.value);
		currentEpsgCode.value = targetEPSG;
	}
});

function zoomToEpsgInput () {
	const target = document.getElementById('epsgInputForm');
	target.scrollIntoView();
}
</script>

<template lang="pug">
v-col
	v-toolbar.elevation-2
		v-toolbar-title {{ edge.label }}
		v-spacer
		a.epsgCodeInfo(@click="zoomToEpsgInput") {{ preview.epsgCode }}
	v-card(tile)
		MapElement(
			:targetName="`map-${edge.name}`"
			type="point"
			:epsgCode="preview.epsgCode"
			v-model="model"
		)
		v-divider
		v-card-text
			v-form(ref="coordForm")
				v-container
					v-row
						v-col(cols="5")
							v-text-field(
								ref="xInputField"
								v-model="X"
								:label="labelX"
								:rules="coordinateInputRulesGeneral.concat(coordinateInputRulesX)"
							)
						v-spacer
						v-col(cols="5")
							v-text-field(
								ref="yInputField"
								v-model="Y"
								:label="labelY"
								:rules="coordinateInputRulesGeneral.concat(coordinateInputRulesY)"
							)
			p {{ description }}
</template>

<style lang="scss" scoped>
@import '../../globals.scss';

.epsgCodeInfo {
	color: $hamburg-color;
	font-size: 0.75em;
	margin-right: 2em;
}
</style>
