<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { computed } from 'vue';
import { useConfigStore } from '@/store/config';
import { beautifyString } from '@/lib/localeHelper';
import DropdownElement from './dropdown/DropdownElement.vue';

const config = useConfigStore();
const description = computed(() => beautifyString(props.edge.description));
const styleIds = computed(() => config.styleConf);

const selectedId = computed({
	get: () => typeof props.modelValue === 'string' ? props.modelValue : '',
	set: (value = '') => {
		emit('update:modelValue', value);
	},
});
</script>

<template lang="pug">
v-col
	p {{ edge.label }}
	DropdownElement(
		v-model="selectedId"
		:items="styleIds"
		itemExtractor="styleId"
		itemLabel="styleId"
		:label="selectedId"
		:placeholder="$t('forms.inputCommons.startTyping')"
		:description="description"
	)
</template>
