<script setup>
import { inputProps, inputEmits } from './inputCommons';

const props = defineProps(inputProps);
const emit = defineEmits(inputEmits);

import { computed } from 'vue';
import { useConfigStore } from '@/store/config';
import { beautifyString } from '@/lib/localeHelper';
import DropdownElement from './dropdown/DropdownElement.vue';

const description = computed(() => beautifyString(props.edge.description));

const config = useConfigStore();
const services = computed(() => config.restConf);
const selectedRestService = computed({
	get: () => typeof props.modelValue === 'string' ? props.modelValue : '',
	set: (value = '') => {
		emit('update:modelValue', value);
	},
});
</script>

<template lang="pug">
v-col
	p {{ edge.label }}
	v-col.text-caption {{ $t('forms.inputRestService.description') }}
	DropdownElement(
		v-model="selectedRestService"
		:items="services"
		itemExtractor="id"
		:itemLabel="value => `${value.name} - ${value.url}`"
		:label="selectedRestService"
		:placeholder="$t('forms.inputRestService.startTyping')"
		:description="description"
	)
</template>
