<script setup>
const props = defineProps({
	rules: {
		type: Array,
		default: () => ([]),
	},
	edge: {
		type: Object,
		required: true,
	},
	modelValue: {
		type: null,
		required: true,
	},
});
const emit = defineEmits([ 'update:modelValue' ]);

/**
 * Abstract Combobox that is configured like this:
 * - user can create any string entry
 * - user can click on an entry to
 *   - switch entries for each other
 *   - delete entries
 * - set of rules may be given to decide which entries are valid
 */

import { computed, onMounted } from 'vue';
import { beautifyString } from '@/lib/localeHelper';

const model = computed({
	get: () => props.modelValue,
	set: value => {
		emit('update:modelValue', value);
	},
});
const defaultValue = computed(() => (props.edge?.default && Array.isArray(props.edge.default) ? props.edge.default : []));
const description = computed(() => beautifyString(props.edge.description));

onMounted(() => {
	if (typeof props.modelValue === 'undefined' && defaultValue.value.length) {
		model.value = defaultValue.value.map((content, id) => ({ content, id }));
	}
});

function switchElements (a, b) {
	[ model.value[a], model.value[b] ] = [ model.value[b], model.value[a] ];
	model.value = [ ...model.value ];
}
</script>

<template lang="pug">
v-combobox(
	v-model="model"
	:label="edge.label"
	:items="[]"
	item-title="content"
	item-value="id"
	color="primary"
	:placeholder="JSON.stringify(defaultValue)"
	:persistent-placeholder="true"
	chips
	multiple
	clearable
)
	template(#chip="{ item, props }")
		v-chip(
			small
			:color="rules.every(f => f([ item ]) === true) ? '' : 'red'"
			:text-color="rules.every(f => f([ item ]) === true) ? '' : 'white'"
		)
			span {{ item.title }}
			//- move/delete element "buttons"
			div.details
				span &nbsp;
				v-icon.hoverIcon(
					v-if="item.value !== 0"
					small
					@click.stop="switchElements(item.value, item.value - 1)"
				) chevron_left
				v-icon.hoverIcon(
					v-if="item.value !== (model.length - 1)"
					small
					@click.stop="switchElements(item.value, item.value + 1)"
				) chevron_right
				v-icon.hoverIcon(
					small
					@click.stop="props['onClick:close']"
				) close
div.text-caption(v-html="description")
</template>

<style lang="scss" scoped>
@import '../../globals.scss';
.hoverIcon {
	position: relative;
	&:hover::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		background: #00000022;
	}
}

.details {
	display: none;
}
.v-combobox__selection--selected .details {
	display: initial;
}
</style>
