<script setup>
const props = defineProps({
	to: {
		type: Object,
		default: () => ({}),
	},
});

import { useRouter } from 'vue-router';
const router = useRouter();
</script>

<template lang="pug">
button(
	@click="router.push(props.to)"
)
	slot
</template>
