<script setup>
const props = defineProps({
	modelValue: Boolean,
	width: {
		type: [ Number, String ],
		default: 0,
	},
	scrollable: Boolean,
});
</script>

<template lang="pug">
slot(v-if="props.modelValue")
</template>
