<script setup>
/* eslint-disable vue/prop-name-casing */ // because of vuetify
const props = defineProps({
	items: {
		type: Array,
		default: () => [],
	},
	modelValue: {
		type: [ String, Array ],
		default: '',
	},
	label: {
		type: String,
		default: '',
	},
	multiple: {
		type: Boolean,
		default: false,
	},
	'single-line': { type: Boolean, default: false },
	'item-title': { type: [ String, Function ], default: '' },
	'color': { type: String, default: '' },
	'filled': { type: Boolean, default: false },
	'placeholder': { type: String, default: '' },
	'clearable': { type: Boolean, default: false },
});
const emit = defineEmits([
	'update:modelValue',
]);

import { computed } from 'vue';
const uuid = `UUID(${props.label}/${props.multiple ? 1 : 0}/${props.modelValue})`; // static for snapshots to work
const model = computed({
	get: () => props.modelValue || (props.multiple ? [] : ''),
	set: value => {
		emit('update:modelValue', value);
	},
});
const items = computed(() => props.items.map(item => typeof item === 'object' ? item : { value: item, title: item }));
</script>

<template lang="pug">
label(
	v-if="props.label"
	:for="uuid"
) {{ props.label }}
select(
	:id="uuid"
	v-model="model"
	:multiple="props.multiple ? true : null"
)
	option(
		v-for="item of items"
		:value="item.value"
	) {{ item.title }}
</template>
