<script setup>
import { computed } from 'vue';

const props = defineProps({
	item: {
		type: Object,
		required: true,
	},
	index: {
		type: Number,
		required: true,
	},
	first: {
		type: Boolean,
		required: true,
	},
	last: {
		type: Boolean,
		required: true,
	},
});
const emit = defineEmits([
	'setVisibility',
	'showMap',
	'rearrange',
]);

const upPosition = computed(() => props.index - (props.first ? 0 : 1));
const downPosition = computed(() => props.index + (props.last ? 0 : 1));
</script>

<template lang="pug">
a(
	:class="{ linkDisabled: first }"
	:title="$t('chapters.themenconfig.moveLayer.up')"
	@click.stop="emit('rearrange', upPosition)"
)
	v-icon arrow_drop_up
a(
	:class="{ linkDisabled: last }"
	:title="$t('chapters.themenconfig.moveLayer.down')"
	@click.stop="emit('rearrange', downPosition)"
)
	v-icon arrow_drop_down
v-btn(
	:title="$t('chapters.themenconfig.visibility')"
	flat
	icon
	@click.stop="emit('setVisibility', !item.visibility)"
)
	v-icon {{ item.visibility ? 'visibility' : 'visibility_off' }}
a(
	:title="$t('chapters.themenconfig.preview')"
	@click.stop="emit('showMap')"
)
	v-icon map
</template>

<style lang="scss" scoped>
a {
	cursor: pointer;
}
.linkDisabled {
	opacity: 0.5;
	cursor: not-allowed;
}
</style>
