<script setup>
const props = defineProps({
	item: {
		type: Object,
		default: () => ({}),
	},
	index: {
		type: Number,
		default: null,
	},
	first: {
		type: Boolean,
		default: false,
	},
	last: {
		type: Boolean,
		default: false,
	},
});
const emit = defineEmits([
	'updateIsFolderSelectable',
	'deleteFolder',
	'addSubfolder',
	'rearrange',
]);

import { ref, computed } from 'vue';

const dialogState = ref(false);
const subfolderName = ref('');
const dialogDisabled = computed(() => !subfolderName.value);
function addSubfolder () {
	if (subfolderName.value) {
		emit('addSubfolder', {
			Titel: subfolderName.value,
			Ordner: [],
			Layer: [],
			isFolderSelectable: false,
		});
		subfolderName.value = '';
		dialogState.value = false;
	}
}

const upPosition = computed(() => props.index - (props.first ? 0 : 1));
const downPosition = computed(() => props.index + (props.last ? 0 : 1));
</script>

<template lang="pug">
a(
	v-if="!item.root"
	:class="{ linkDisabled: first }"
	:title="$t('chapters.themenconfig.moveLayer.up')"
	@click.stop="emit('rearrange', upPosition)"
)
	v-icon arrow_drop_up
a(
	v-if="!item.root"
	:class="{ linkDisabled: last }"
	:title="$t('chapters.themenconfig.moveLayer.down')"
	@click.stop="emit('rearrange', downPosition)"
)
	v-icon arrow_drop_down
v-btn(
	v-if="!item.root"
	density="compact"
	flat
	:icon="item.isFolderSelectable ? 'check_circle_outline' : 'highlight_off'"
	@click.stop="emit('updateIsFolderSelectable', !item.isFolderSelectable)"
)
v-dialog(v-model="dialogState" persistent max-width="600px")
	template(v-slot:activator="{ props }")
		v-btn(flat density="comfortable" icon="add" v-bind="props" @click.stop="")
	v-card
		v-card-title
			span.text-h5 Ordner in {{ item.name }} erstellen
		v-card-text
			v-form(@submit.prevent="addSubfolder")
				v-text-field(label="Name" v-model="subfolderName")
		v-card-actions
			v-spacer
			v-btn(color="red" @click="dialogState = false") abbrechen
			v-btn(color="primary" :disabled="dialogDisabled" @click="addSubfolder") anlegen
v-btn(v-if="!item.root" icon="delete" density="compact" flat @click.stop="$emit('deleteFolder')")
</template>

<style lang="scss" scoped>
a {
	cursor: pointer;
}
.linkDisabled {
	opacity: 0.5;
	cursor: not-allowed;
}
</style>