<script setup>
const props = defineProps({
	modelValue: {
		type: Array,
		required: true,
	},
	label: {
		type: String,
		required: true,
	},
	filter: {
		type: String,
		required: false,
		default: '',
	},
});
const emit = defineEmits([ 'update:modelValue', 'layerReceived' ]);

import { toRefs, ref, reactive, computed, watch } from 'vue';
import { useLayersStore } from '@/store/layers';
import FilterPattern from './FilterPattern.vue';
import VirtualDragAndDrop from './VirtualDragAndDrop.vue';

const { modelValue: selectedLayers, label, sortable, type } = toRefs(props);

const layersStore = useLayersStore();
const layers = reactive([]);
layersStore.getSortedLightLayers({ filter: props.filter }).then(sortedLightLayers => {
	layers.push(...sortedLightLayers);
});
const layerMap = computed(() => new Map(layers.map(layer => ([ layer.id, layer ]))));
watch(selectedLayers, newLayers => {
	newLayers
		.filter(name => !name)
		.forEach(layer => {
			layer.name = layerMap.value.get(layer.id).name;
		});
}, { deep: true, immediate: true });

const visibleLayers = reactive([]);
const filterPattern = ref('');
function resetVisibility () {
	visibleLayers.length = 0;
}
/* eslint-disable-next-line consistent-return, vue/return-in-computed-property */
const searchRegExp = computed(() => {
	if (filterPattern.value) {
		return new RegExp(filterPattern.value, 'i');
	}
});
watch(filterPattern, () => resetVisibility());

function isLayerFiltered ({ id, name }) {
	return visibleLayers.includes(id) || name.search(searchRegExp.value) !== -1;
}
const shownLayers = computed(() => layers.filter(layer => isLayerFiltered(layer) && !selectedLayers.value.some(({ id }) => id === layer.id)));

function receiveLayer ({ layer, originPosition }) {
	visibleLayers.push(layer.layerId || layer.id);
	selectedLayers.value.splice(originPosition, 1);
	emit('layerReceived', { layer, originPosition });
}
</script>

<template lang="pug">
FilterPattern(
	v-model="filterPattern"
	@resetVisibility="resetVisibility"
)
span {{ label }} ({{ shownLayers.length }})
VirtualDragAndDrop(
	:changeWith="filterPattern"
	:items="shownLayers"
	:sortable="false"
	@add="receiveLayer"
	type="unselectedLayers"
)
</template>
