<script setup>
const props = defineProps({
	modelValue: {
		type: String,
		default: '',
	},
});
const emit = defineEmits([
	'update:modelValue',
	'resetVisibility',
]);

import { computed } from 'vue';

const model = computed({
	get: () => props.modelValue,
	set: value => {
		emit('update:modelValue', value);
	},
});
</script>

<template lang="pug">
v-form(@submit.prevent="emit('resetVisibility')")
	v-text-field(
		:label="$t('chapters.themenconfig.filterTitle')"
		v-model="model"
		clearable
	)
</template>
