<script setup>
const props = defineProps({
	modelValue: {
		type: Array,
		required: true,
	},
	sortable: {
		type: Boolean,
		required: false,
		default: false,
	},
	filter: {
		type: String,
		required: false,
		default: '',
	},
});
const emit = defineEmits([
	'update:modelValue',
	'add',
	'remove',
	'rearrange',
	'updateProperty',
	'clear',
]);

import { toRefs } from 'vue';
import VirtualDragAndDrop from './VirtualDragAndDrop.vue';
import FilterableVirtualDragAndDrop from './FilterableVirtualDragAndDrop.vue';

const { modelValue: selectedLayers, sortable } = toRefs(props);

function moveItemToSelected ({ layer, targetPosition }) {
	const { id, name, styleId, unmanaged } = layer;
	selectedLayers.value.splice(targetPosition, 0, {
		id,
		name,
		visibility: true,
		styleId,
		...JSON.parse(unmanaged),
	});
	emit('add', { layer, targetPosition });
}
function removeItemFromSelected ({ originPosition }) {
	emit('remove', { originPosition });
}
function rearrangeSelectedItems ({ originPosition, targetPosition }) {
	const movedLayers = selectedLayers.value.splice(originPosition, 1);
	selectedLayers.value.splice(targetPosition, 0, ...movedLayers);
	emit('rearrange', { originPosition, targetPosition });
}
function updateProperty (layer, name, value) {
	layer[name] = value;
	emit('updateProperty', { layer, name, value });
}

function clear () {
	selectedLayers.value.splice(0, selectedLayers.value.length);
	emit('clear');
}
</script>

<template lang="pug">
v-container
	v-row.row(no-gutters align="end")
		v-col.col
			FilterableVirtualDragAndDrop(
				v-model="selectedLayers"
				:filter="props.filter"
				:label="$t('chapters.themenconfig.availableLayers')"
				@layerReceived="removeItemFromSelected"
			)
		v-col(cols="1").icon
			v-icon(
				:title="$t('chapters.themenconfig.dragLayers')"
				icon="swap_horiz"
			)
		v-col.col
			v-btn.mb-8(
				prepend-icon="refresh"
				@click="clear()"
			) Auswahl zurücksetzen
			div {{ $t('chapters.themenconfig.chosenLayers') }} ({{ selectedLayers.length }})
			VirtualDragAndDrop(
				:items="selectedLayers"
				:sortable="sortable"
				@add="moveItemToSelected"
				@rearrange="rearrangeSelectedItems"
				@toggleVisibility="updateProperty($event, 'visibility', !$event.visibility)"
				@update:itemName="updateProperty($event.item, 'name', $event.name)"
				type="selectedLayers"
			)
</template>

<style lang="scss" scoped>
@import '../../globals.scss';

.row {
	display: flex;
}
.col {
	flex: 1;
	overflow-x: hidden;
}
.icon {
	text-align: center;
	margin-bottom: 200px;
}
</style>
