<script setup>
const props = defineProps({
	modelValue: {
		type: String,
		default: '',
	},
});
const emit = defineEmits([
	'update:modelValue',
]);

import { ref, computed, watch } from 'vue';

const model = ref('');
watch(() => props.modelValue, value => {
	if (typeof value === 'string') {
		model.value = value;
	}
}, { immediate: true });

const editor = ref(false);

function save () {
	emit('update:modelValue', model.value);
	editor.value = false;
}
function abort () {
	model.value = props.modelValue;
	editor.value = false;
}
</script>

<template lang="pug">
template(v-if="editor")
	v-text-field(
		v-model="model"
		density="compact"
		hide-details
		@keyup.enter="save()"
		@keyup.escape="abort()"
	)
	v-btn(
		icon="cancel"
		flat
		@click="abort()"
	)
	v-btn(
		icon="save"
		flat
		@click="save()"
	)
template(v-else)
	span(
		@dblclick="editor = true"
	) {{ model }}
</template>
