<script setup>
import { ref, watch } from 'vue';
import { useThemenconfigStore } from '@/store/themenconfig';
import FlatLayerSelection from './FlatLayerSelection.vue';

const store = useThemenconfigStore();
const genericLocation = {
	category: 'Fachdaten',
	path: [],
	type: 'Layer',
};

function add ({ layer, targetPosition }) {
	store.add({
		...genericLocation,
		entry: layer,
		idx: targetPosition,
	});
}
function remove ({ originPosition }) {
	store.delete({
		...genericLocation,
		idx: originPosition,
	});
}
function rearrange ({ originPosition, targetPosition }) {
	store.move({
		...genericLocation,
		idx: originPosition,
		pos: targetPosition,
	});
}
function updateProperty ({ layer: { id }, name, value }) {
	store.updateById({
		id,
		name,
		value,
	});
}
function clear () {
	store.clear();
}
</script>

<template lang="pug">
FlatLayerSelection(
	:modelValue="store.themenconfig?.Fachdaten?.Layer"
	@add="add"
	@remove="remove"
	@rearrange="rearrange"
	@updateProperty="updateProperty"
	@clear="clear"
	:sortable="true"
)
</template>
