<script setup>
const props = defineProps({
	item: {
		type: Object,
		default: () => ({}),
	},
	type: {
		type: String,
		default: '',
	},
	index: {
		type: Number,
		required: true,
	},
	first: {
		type: Boolean,
		default: false,
	},
	last: {
		type: Boolean,
		default: false,
	},
});
const emit = defineEmits([
	'rearrange',
	'toggleVisibility',
	'update:itemName',
]);

import { toRefs, computed } from 'vue';
import { useDisplay } from 'vuetify';
import { usePreviewStore } from '@/store/preview';
import LayerName from './LayerName.vue';

const { item, type, index, first, last } = toRefs(props);
const { mobile } = useDisplay();
const preview = usePreviewStore();

const flex1 = computed(() => ({
	selectedLayers: 6,
	selectedGroupLayers: 8,
	unselectedLayers: 9,
}[type.value]));
const flex2 = computed(() => (type.value === 'selectedLayers' ? 2 : 1));

const upPosition = computed(() => ({
	originPosition: index.value,
	targetPosition: first.value ? index.value : index.value - 1,
}));
const downPosition = computed(() => ({
	originPosition: index.value,
	targetPosition: last.value ? index.value : index.value + 1,
}));

function displayMap ({ id: layerId, styleId }) {
	preview.displayMap({ layerId, styleId });
}

const typ = computed(() => {
	switch (item.value.source) {
		case 'grouplayer':
			return 'GROUP';
		default:
			return item.value.typ;
	}
});
</script>

<template lang="pug">
v-row(no-gutters)
	v-col.slotLayerName(
		cols="2"
		v-show="!mobile"
		v-if="type === 'selectedLayers' || type === 'selectedGroupLayers'"
	)
		a.rearrange(
			:class="{ linkDisabled: first }"
			:title="$t('chapters.themenconfig.moveLayer.up')"
			@click="emit('rearrange', upPosition)"
		)
			v-icon(icon="arrow_drop_up")
		a.rearrange(
			:class="{ linkDisabled: last }"
			:title="$t('chapters.themenconfig.moveLayer.down')"
			@click="emit('rearrange', downPosition)"
		)
			v-icon(icon="arrow_drop_down")
	v-col(:cols="flex1" class="slotLayerName")
		template(v-if="type === 'selectedLayers'")
			LayerName(
				:modelValue="item.name"
				@update:modelValue="emit('update:itemName', $event)"
			)
		template(v-else)
			| {{ item.name }}
	v-col.slotLayerName(cols="2")
		| {{ typ }}
	v-col(:cols="flex2")
		a.triggerPreview(
			:title="$t('chapters.themenconfig.preview')"
			@click="displayMap(item)"
		)
			v-icon(icon="map")
		a.toggleVisibility(
			v-if="type === 'selectedLayers'"
			:title="$t('chapters.themenconfig.visibility')"
			@click="emit('toggleVisibility')"
		)
			v-icon(:icon="item.visibility ? 'visibility' : 'visibility_off'")
</template>

<style lang="scss" scoped>
.linkDisabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.slotLayerName {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.triggerPreview, .toggleVisibility, .rearrange {
	cursor: pointer;
}
</style>
