<script setup>
const props = defineProps({
	changeWith: {
		type: String,
		default: '',
	},
	items: {
		type: Array,
		default: () => ([]),
	},
	type: {
		type: String,
		required: true,
	},
	sortable: {
		type: Boolean,
		default: true,
	},
});
const emit = defineEmits([
	'add',
	'rearrange',
	'toggleVisibility',
	'update:itemName',
]);

import { ref, toRefs, computed, watch, onMounted, onBeforeUnmount } from 'vue';
import SelectLayerElement from './SelectLayerElement.vue';

const { changeWith, items, type, sortable } = toRefs(props);

const scrollBarPosition = ref(null);
const arenaHeight = ref(null);
const slotHeight = ref(0);

const numSlots = computed(() => arenaHeight.value ? arenaHeight.value / slotHeight.value : 1);
const firstVisibleItem = computed(() => Math.trunc(scrollBarPosition.value / slotHeight.value));
const offset = computed(() => {
	const remainingItems = items.value.length - firstVisibleItem.value - numSlots.value;
	return {
		before: firstVisibleItem.value > 3 ? 3 : firstVisibleItem.value,
		after: remainingItems < 3 ? Math.max(remainingItems, 0) : 3,
	};
});
const slots = computed(() => items.value.slice(firstVisibleItem.value - offset.value.before, firstVisibleItem.value + numSlots.value + offset.value.after));
const prefixStyle = computed(() => ({
	height: `${(firstVisibleItem.value - offset.value.before) * slotHeight.value}px`,
}));
const suffixStyle = computed(() => ({
	height: `${(Math.max(items.value.length, numSlots.value)
			- firstVisibleItem.value
			- numSlots.value
			- offset.value.after) *
		slotHeight.value}px`,
}));

const arena = ref(null);
const initSlot = ref(null);
function handleScroll () {
	scrollBarPosition.value = arena.value.scrollTop;
}
onMounted(() => {
	arena.value.addEventListener('scroll', handleScroll);
	slotHeight.value = initSlot.value.offsetHeight;
	arenaHeight.value = arena.value.offsetHeight;
});
onBeforeUnmount(() => {
	arena.value.removeEventListener('scroll', handleScroll);
});
watch(changeWith, () => arena.value.scrollTo(0, 0));

function handleDrag (layer, e) {
	const originPosition = e.srcElement.offsetTop / slotHeight.value;
	const originName = type.value;
	event.dataTransfer.setData('application/x.mp-admintool.layer+json', JSON.stringify({ layer, originPosition, originName }));
	event.dataTransfer.setData(`application/x.mp-admintool.${originName}+layer`, true);
}
function handleDrop (e) {
	e.preventDefault();
	if (!e.dataTransfer.types.includes('application/x.mp-admintool.layer+json')) {
		return;
	}

	const { layer, originPosition, originName } = JSON.parse(e.dataTransfer.getData('application/x.mp-admintool.layer+json'));

	// Distinguish between cursor position relative to text to item-box or item box relative to list
	const clickPositionWithinList = event.layerY > slotHeight.value ? event.layerY : event.target.offsetTop + event.layerY;
	let targetPosition = Math.round(clickPositionWithinList / slotHeight.value);

	if (type.value === originName) {
		if (targetPosition > originPosition) {
			targetPosition--;
		}
		if (targetPosition !== originPosition) {
			emit('rearrange', { layer, targetPosition, originPosition });
		}
	} else {
		emit('add', { layer, targetPosition, originPosition });
	}
}
function preventDrop (e) {
	e.preventDefault();
	if (!e.dataTransfer.types.includes('application/x.mp-admintool.layer+json')) {
		e.dataTransfer.dropEffect = 'none';
		return;
	}
	const pattern = /^application\/x\.mp-admintool\.(?<originName>.+)\+layer$/;
	const transferType = event.dataTransfer.types?.map(dataType => pattern.exec(dataType))?.find(it => it);
	if (type.value === transferType.groups.originName && !sortable.value) {
		e.dataTransfer.dropEffect = 'none';
		return;
	}
	e.dataTransfer.dropEffect = 'move';
}
</script>

<template lang="pug">
ul.arena(ref="arena" @drop="handleDrop" @dragover="preventDrop" @dragenter="preventDrop")
	li.slot.init(ref="initSlot")
	li(ref="prefix" :style="prefixStyle")
	li.slot(
		v-for="(item, index) in slots"
		:key="item.id"
		draggable="true"
		@dragstart="handleDrag(item, $event)"
	)
		SelectLayerElement(
			:item="item"
			:index="index"
			:first="index === 0"
			:last="index === (slots.length - 1)"
			:type="type"
			@rearrange="emit('rearrange', $event)"
			@toggleVisibility="emit('toggleVisibility', item)"
			@update:itemName="emit('update:itemName', { item, name: $event })"
		)
	li(ref="suffix" :style="suffixStyle")
</template>

<style lang="scss" scoped>
a {
	margin-left: 0.3em;
}

.arena {
	height: 400px;
	border: 1px solid silver;
	overflow-y: scroll;
	list-style: none;
	padding-left: 0;
	position: relative;
}

.slot {
	height: 2.5em;
	overflow: hidden;
	border-bottom: 1px solid grey;
	padding: 0.5em;
	cursor: grab;
}

.init {
	visibility: hidden;
	position: absolute;
}

</style>
